@namespace Functionland.FxFiles.App.Components.Modal
@inherits AppComponentBase


<FxBottomSheet IsClosable="false" IsOpen="_isModalOpen" IsOpenChanged="Close" IsFullScreenMode="true">
    @if (Artifacts is not null)
    {
        @foreach (var artifact in Artifacts)
        {
            <div @onclick="()=>SelectArtifact(artifact)">
                <span style="color:white;">@artifact.Name</span>
            </div>
        }
    }
</FxBottomSheet>

@*<div class="modal @(_isModalOpen ? "open" : "close")">
    @if (Artifacts is not null)
    {
        @foreach (var artifact in Artifacts)
        {
            <div @onclick="()=>SelectArtifact(artifact)">
                <span style="color:white;">@artifact.Name</span>
            </div>
        }
    }
    <button @onclick="Close">close</button>
</div>*@
