@namespace Functionland.FxFiles.App.Components.Modal
@inherits AppComponentBase


<FxBottomSheet ShowCloseButton="false" @bind-IsOpen="_isModalOpen" OnClose="Close" IsFullScreenMode="true">
    @if (_artifacts is not null)
    {
        @foreach (var artifact in _artifacts)
        {
            <div @onclick="()=>SelectArtifact(artifact)">
                <span style="color:white;">@artifact.Name</span>
            </div>
        }
    }
</FxBottomSheet>