@import '../../../Styles/abstracts/_variables.scss';
@import '../../../Styles/abstracts/_functions.scss';

.modal {
    position: fixed;
    height: 300px;
    width: 400px;
    background-color: red;

    &.open {
        display: block;
    }

    &.close {
        display: none;
    }
}

::deep .sheet .contents {
    width: 100%;
    max-width: none;
    height: 100%;
    border-radius: 0;
}
