@namespace Functionland.FxFiles.Client.Shared.Components.Modal
@inherits AppComponentBase


<FxBottomSheet ShowCloseButton="false" @bind-IsOpen="_isModalOpen" OnClose="Close" IsFullScreenMode="false">
    <div class="overflow-sheet" style="padding: 24px 0">
        <FxButton Class="details-button"
                  Text="See details"
                  OnClick="Details"
                  ButtonStyle="FxButtonStyle.SheetMenu" />
        @*TODO: just for test i use Detail onclick, it should be change with extract onclick*@
        <FxButton Class="extract-button"
                  Text="Extract in current location"
                  OnClick="Extract"
                  IsEnabled="!_isInRoot"
                  ButtonStyle="FxButtonStyle.SheetMenu" />
        <FxButton Class="rename-button"
                  Text="Rename"
                  OnClick="Rename"
                  IsEnabled="!_isInRoot"
                  IsVisible="!_isMultiple"
                  ButtonStyle="FxButtonStyle.SheetMenu" />
        <FxButton Class="copy-button"
                  Text="Copy to"
                  OnClick="Copy"
                  IsEnabled="!_isInRoot"
                  ButtonStyle="FxButtonStyle.SheetMenu" />
        @if (_pinOptionResult?.IsVisible == true)
        {
            @if (_pinOptionResult?.Type == PinOptionResultType.Add)
            {
                <FxButton Class="pin-button"
                  Text="Add to pinned items"
                  OnClick="Pin"
                  IsEnabled="!_isInRoot"
                  ButtonStyle="FxButtonStyle.SheetMenu" />
            }
            else if (_pinOptionResult?.Type == PinOptionResultType.Remove)
            {
                <FxButton Class="pin-button"
                  Text="Remove from pinned items"
                  OnClick="UnPin"
                  IsEnabled="!_isInRoot"
                  ButtonStyle="FxButtonStyle.SheetMenu" />
            }
        }
        <FxButton Class="move-button"
                  Text="Move to"
                  OnClick="Move"
                  IsEnabled="!_isInRoot"
                  ButtonStyle="FxButtonStyle.SheetMenu" />
        @if (_isVisibleShareWithAppOption)
        {
            <FxButton Class="share-with-app-button"
                  Text="Share with app"
                  OnClick="ShareWithApp"
                  IsEnabled="!_isInRoot"
                  ButtonStyle="FxButtonStyle.SheetMenu" />
        }
        <FxButton Class="delete-button"
                  Text="Delete"
                  OnClick="Delete"
                  IsEnabled="!_isInRoot"
                  ButtonStyle="FxButtonStyle.SheetMenu" />
    </div>
</FxBottomSheet>