@inherits AppComponentBase;

<!-- Detail item -->
<div class="file-details-row">
    <p class="file-detail-name">Last modified</p>
    <p class="file-detail-value">07/01/22</p>
</div>
<div class="separate-item">
    <FxDivider FxDividerMode="FxDividerMode.Solid" FxDividerSize="FxDividerSize.Thin" FxDividerType="FxDividerType.Horizontal"></FxDivider>
</div>
