@inherits AppComponentBase;

<!-- Body of the sheet -->
<main class="content-body fill column">
    @if (IsImageFile)
    {
        <div class="file-icon-row">
            @*TODO:// image file icon here*@
            <div>
            <img class="file-image-preview" src="sample.jpg">
            </div>
        </div>
    }
    else
    {
        <div class="file-icon-row">
            <div class="file-icon"></div>
        </div>
    }
    <div class="file-name-row">
        <p class="file-name-text open-sans-regular">@FileName</p>
    </div>
    <div class="file-details-area">
        @FileDetailItemFragment
    </div>
    <div class="bottom-body">
        @FileDetailItemActionsFragment
        <div class="close-btn-bottom-action">
            @FileDetailBottomActionFragment
        </div>
    </div>
</main>
