@inherits AppComponentBase;

<!-- Detail item -->
<div class="file-details-row">
    <p class="file-detail-name">@FileDetailFieldName</p>
    <p class="file-detail-value">@FileDetailFieldValue</p>
</div>
<div class="separate-item">
    <FxDivider FxDividerMode="FxDividerMode.Solid" FxDividerSize="FxDividerSize.Thin" FxDividerType="FxDividerType.Horizontal"></FxDivider>
</div>
