
.bottom-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 6px;
    flex: none;
    order: 0;
    flex-grow: 1;

    .action-button {
        background: transparent;
        padding: 0px;
        border: none
    }

    .download-action-icon {
        background-image: url("/images/icons/lightDesignSystem/download.svg");
        background-position: center;
        background-repeat: no-repeat;
        height: 24px;
        background-size: 24px
    }

    .move-action-icon {
        background-image: url("/images/icons/lightDesignSystem/move.svg");
        background-position: center;
        background-repeat: no-repeat;
        height: 24px;
        background-size: 24px
    }

    .pin-action-icon {
        background-image: url("/images/icons/lightDesignSystem/pin-outline-black.svg");
        background-position: center;
        background-repeat: no-repeat;
        height: 24px;
        background-size: 24px
    }

    .more-action-icon {
        background-image: url("/images/icons/lightDesignSystem/options-vertical.svg");
        background-position: center;
        background-repeat: no-repeat;
        height: 24px;
        background-size: 24px
    }

    .action-text p {
        margin: 0px;
        font-size: 12px;
        font-family: "OpenSans-Regular";
        line-height: 16px;
        color: var(--gray-content1)
    }
}
