@import "../Styles/abstracts/_variables.scss";
@import "../Styles/abstracts/_functions.scss";

.file-card-container {
    background-color: color(gray-bg-primary);
    border-radius: $border-radius-4;
    width: 252px;
    height: 216px;

    .file-card-media {
        height: 146px;
        border-radius: inherit;
        position: relative;
        background-color: color(gray-border);
        //background-image: url("/images/CardMedia.svg");
        background-position: center;

        .tag-wrapper {
            position: absolute;
            bottom: 8px;
            left: 8px;
        }

        .pin-outline-icon {
            width: $icon-20;
            height: $icon-20;
            background-image: url($pin-outline);
            background-repeat: no-repeat;
            background-size: $icon-20;
            background-position: center;
            position: absolute;
            top: 10.28px;
            right: 10.28px;
        }
    }

    .file-card-content {
        padding: $spacing-16;

        .card-file-name {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .file-icon {
                width: $icon-16;
                height: $icon-16;
                background-image: url($folder);
                background-repeat: no-repeat;
                background-position: center;
                background-size: $icon-16;
            }

            .file-name-container {
                margin-left: $spacing-6;
                display: flex;

                span {
                    display: inline-block;
                    font-family: $open-sans-regular;
                    font-size: $font-size-14;
                    line-height: $line-height-24;
                    letter-spacing: $letter-spacing-02;
                    color: color(gray-content1);
                }

                .file-name {
                    max-width: 162px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}
