@inherits AppComponentBase;

<div class="bottom-navigations">
    <FileDetailViewBottomActionItem ActionIcon="ActionIcon.Download" />
    <FileDetailViewBottomActionItem ActionIcon="ActionIcon.Move" />
    <FileDetailViewBottomActionItem ActionIcon="ActionIcon.Pin" />
    <FileDetailViewBottomActionItem ActionIcon="ActionIcon.More" />
</div>
