@inherits AppComponentBase;

<header>
    <div class="toolbarApp">
        @if(IsBackButtonVisible)
        {
            <FxButton
                Padding="0"
                OnClick="@GoBack"
                BackgroundColor="transparent"
                LeftIcon="images/icons/back.svg"
                ButtonStyle="FxButtonStyle.None"/>
        }

        <div>
            @if (!string.IsNullOrEmpty(Title) || !string.IsNullOrWhiteSpace(Title))
            {
                <h1 class="title">@Title</h1>
            }

            @if (!string.IsNullOrEmpty(SubTitle) || !string.IsNullOrWhiteSpace(SubTitle))
            {
                <h6 class="subtitle">@SubTitle</h6>
            }
        </div>

        @if (IsMainToolBar)
        {
            <div class="main-toolbar">
                <FxSearchInput IsPartial="true"/>
                <FxButton
                    Margin="0 8px"
                    ButtonStyle="FxButtonStyle.IconOnly"
                    LeftIcon="images/icons/plus.svg" />
                <FxAvatar FxAvatarSizeType="FxAvatarSizeEnum.Medium" FxAvatarStatusType="FxAvatarStatusEnum.Selected" />
            </div>
        }
    </div>
</header>