@inherits AppComponentBase

<div class="item-container @Config.ViewMode-view">
    <div class="item-content @Config.IconStr-icon">
        <div class="item-title">
            <div class="pin-badge"></div>
            <div class="title-text">@Config.Title</div>
        </div>
        <div class="item-sub-text">@Config.SubTitle</div>
    </div>
    <div class="options-btn"></div>
</div>
