@import '../Styles/abstracts/_variables.scss';
@import '../Styles/abstracts/_functions.scss';

.list-title {
    font-family: $montserrat-medium;
    font-style: normal;
    font-weight: 600;
    font-size: $font-size-18;
    line-height: $line-height-24;
    margin-bottom: $spacing-16;
    padding-left: $spacing-21;
    color: color(gray-content1);
}

.action-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 $spacing-21;
    background-color: color(gray-bg-primary);

    .left-actions {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        .selected-sort {
            font-family: $open-sans-regular;
            font-style: normal;
            font-weight: 400;
            font-size: $font-size-14;
            line-height: $line-height-24;
            letter-spacing: $letter-spacing-02;
            margin-right: $spacing-4;
            color: color(gray-content1);
        }

        .sort-order {
            background-image: url($chevron-up);
            background-repeat: no-repeat;
            background-position: center;
            background-size: $icon-16;
            width: 16px;
            height: 40px;
        }

        .desc-order {
            background-image: url($chevron-up);
            transform: rotate(180deg);
        }

        .asc-order {
            background-image: url($chevron-up);
        }
    }

    .right-actions {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        .action-btn {
            background-size: $icon-24;
            background-repeat: no-repeat;
            background-position: center;
            height: 40px;
            width: 24px;
        }

        .select-all-btn {
            background-image: url($select-all-check-empty);
            margin-right: $spacing-8;
        }

        .select-all-filled {
            background-image: url($select-all-check-filled) !important;
        }

        .list-view-btn {
            background-image: url($list-view);
            margin-right: $spacing-8;
        }

        .list-view-selected {
            background-image: url($list-view-selected) !important;
        }

        .grid-view-btn {
            background-image: url($grid-view);
            margin-right: $spacing-8;
        }

        .grid-view-selected {
            background-image: url($grid-view-selected) !important;
        }

        .filter-btn {
            background-image: url($filter);
        }
    }
}

.select-action {
    padding: 0px $spacing-31 0px $spacing-21;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $green-dark-base;
    height: 40px;

    .info-selection {
        display: flex;
        align-items: center;

        .close-btn {
            height: $icon-16;
            width: $icon-16;
            background-image: url(images/icons/white-close-btn.svg);
            background-repeat: no-repeat;
            background-size: $icon-16;
            background-position: center;
            cursor: pointer;
        }

        .item-selected {
            margin-left: $spacing-6;

            .move-selected-items-text,
            .item-selected-count,
            .item-selected-text {
                font-family: $open-sans-regular;
                font-size: $font-size-14;
                line-height: $line-height-24;
                letter-spacing: $letter-spacing-02;
                color: color(app-bg);
            }

            .move-selected-items-text {
                display: none;
            }
        }
    }

    .right-part {
        display: flex;
        align-items: center;
        justify-content: center;

        .icons-action {
            height: 18.19px;
            width: 20.04px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: $icon-24;
            cursor: pointer;
        }

        .move-icon {
            background-image: url(images/icons/white-move.svg);
        }

        .vertical-option-icon {
            background-image: url(images/icons/white-option-vertical.svg);
            background-size: $icon-4;
            margin-left: $spacing-16;
        }

        .add-folder {
            background-image: url(images/icons/white-create-folder.svg);
            display: none;
        }
    }
}

.move-files-action {
    padding-right: $spacing-24;

    .item-selected-text,
    .move-icon,
    .vertical-option-icon {
        display: none;
    }

    .move-selected-items-text,
    .add-folder {
        display: inline-block !important;
    }
}

.grid-view {
    display: grid;
    grid-gap: 1px;
    grid-auto-flow: row;
    grid-template-columns: repeat(2,minmax(0,1fr)) !important;
}
