@inherits AppComponentBase

<div class="item-container row-view grid-view">
    <div class="item-content text-file-icon">
        <div class="item-title">
            <div class="pin-badge"></div>
            <div class="title-text">***Content</div>
        </div>
        <div class="item-sub-text">***Modified 09/30/22 | 1.22 MB</div>
    </div>
    <div class="options-btn"></div>
</div>
