@inherits AppComponentBase

<div class="item-container @ViewMode-view">
    @if (IsSelectionMode)
    {
        <BitCheckbox @bind-value="IsSelected" />
    }
    <div 
    @onpointerup="OnPointerUp"
    @onpointerdown="OnPointerDown"
    @onclick="(() => IsSelected = true)"
    class="item-content @(IsSelectionMode ? null : @ItemConfig.IconStr + "-icon")">
        <div class="item-title">
            @if (ItemConfig.IsPinned == true)
            {
                <div class="pin-badge"></div>
            }
            <div class="title-text">@ItemConfig.Title</div>
        </div>
        <div class="item-sub-text">@ItemConfig.SubTitle</div>
    </div>
    @if (!IsSelectionMode)
    {
        <div class="options-btn"></div>
    }
</div>
