@import '../Styles/abstracts/_mixins.scss';
@import '../Styles/abstracts/_variables.scss';
@import '../Styles/abstracts/_functions.scss';

header {
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 80px;
    display: block;
    padding: 0 21px;
    position: sticky;
    min-height: 80px;
    align-items: center;
    background-color: #f5f5f5;
    color: color(gray-content1);
    background-color: color(app-bg);
}

.title {
    margin: 0;
    font-size: $font-size-28;
    line-height: $line-height-40;
    font-family: $montserrat-medium;
}

.title-icon {
    margin-right: $spacing-6;
}

.subtitle {
    margin: 0;
    font-size: $font-size-14;
    color: color(gray-content3);
    line-height: $line-height-24;
    font-family: $open-sans-light;
}

::deep .fxbutton img {
    height: 24px;
    width: 24px;
}

::deep .back-button::after {
    font-size: 24px;
    vertical-align: middle;
    @include Icon($arrow-left);
}

.toolbarApp {
    height: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-toolbar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    ::deep .input-box {
        flex-grow: 1;
    }
}

.toolbar-items {
    display: flex;
}

@media only screen and (max-width: 280px) {
    ::deep .input-box {
        max-width: 158px;
    }

    ::deep .search-icon {
        background-position: center left 8px;
    }

    ::deep .input-partial {
        padding: 8px 12px 8px 35px;
    }
}