@namespace Functionland.FxFiles.Client.Shared.Components

<div class="footer-app-view">
    <FxLink FxLinkIconSide="FxLinkIconSide.Right" LinkText="skip" Class="skip"></FxLink>
    <FxButton ButtonStyle="FxButtonStyle.Outline" Text="back" Margin="0 12px 0 0"></FxButton>
    <FxButton ButtonStyle="FxButtonStyle.Normal" Text="upload"></FxButton>

</div>
