@page "/folder"

@inherits AppComponentBase;

<div class="folder-page-container">
    <ToolBar Title="Folder name"
             SubTitle="Update: 09/30/20"
             IsAddButtonVisible="true"
             IsBackButtonVisible="true"
             IsOverflowButtonVisible="true"
             IsMainToolBar="false" />
    <div class="folder-list-wrapper">
        <FxListView HasSearchInput="true" ItemsSource="Artifacts"/>
    </div>
</div>

