@page "/"
@page "/Home"

@inherits AppComponentBase;

<PageTitle>@Localizer[nameof(AppStrings.HomeTitle)]</PageTitle>
<div>@Localizer[nameof(AppStrings.HomeMessage)]</div>

<button @onclick="(()=>NavigateToTestExplorerComponent())">Test</button>

<ListItem></ListItem>