@page "/"
@page "/Home"
@using Functionland.FxFiles.App.Components.ComingSoon

@inherits AppComponentBase;
<PageTitle>@Localizer[nameof(AppStrings.Files)]</PageTitle>

<div class="files-content">
    <ComingSoon title="Blox Files"/>
    <button @onclick="OpenDetail">details</button>
</div>

<ArtifactDetailModal @ref="_detailModal"></ArtifactDetailModal>
<ToastModal @ref="_toast"></ToastModal>