@page "/"
@page "/Home"

@inherits AppComponentBase;
<PageTitle>@Localizer[nameof(AppStrings.Files)]</PageTitle>

<ToolBar IsMainToolBar="true" />

 <div class="files-content">
    <div>@Localizer[nameof(AppStrings.HomeMessage)]</div>
    <button @onclick="(()=>NavigateToTestExplorerComponent())">Test</button>
 </div>
 <EmptyListView></EmptyListView>