@page "/"
@page "/Home"

@inherits AppComponentBase;
<PageTitle>@Localizer[nameof(AppStrings.Files)]</PageTitle>

<ToolBar IsMainToolBar="true" />

<div class="files-content">
    <div>@Localizer[nameof(AppStrings.HomeMessage)]</div>
    <button @onclick="(()=>OpenSheet())">Open BottomSheet</button>
    <FxBottomSheet ShowCloseButton="true" IsOpen="IsBottomSheetClose" IsOpenChanged="SyncCloseState">
        <p>ali</p>
        <FxButton ButtonStyle="FxButtonStyle.Outline" Text="salaam"></FxButton>
    </FxBottomSheet>
</div>
<EmptyListView></EmptyListView>