@page "/"
@page "/Home"

@inherits AppComponentBase;
<PageTitle>@Localizer[nameof(AppStrings.Files)]</PageTitle>

<ToolBar IsMainToolBar="true" />

<div class="files-content">
    <EmptyListView />
</div>