@page "/"
@page "/Home"

@inherits AppComponentBase;
<PageTitle>@Localizer[nameof(AppStrings.Files)]</PageTitle>

<ToolBar IsMainToolBar="true" />

<div class="files-content">
    <div>@Localizer[nameof(AppStrings.HomeMessage)]</div>
    <button @onclick="(()=>NavigateToTestExplorerComponent())">Test</button>
    <button @onclick="(()=>OpenSheet())">Open BottomSheet</button>
    <FxBottomSheet IsCloseAble="true" IsClose="IsBottomSheetClose" IsCloseChanged="SyncCloseState">
        <ContentRenderFragment>
            <FileDetailView FileName="Sample.docx" IsImageFile="false" />
        </ContentRenderFragment>
    </FxBottomSheet>
</div>
<EmptyListView></EmptyListView>