@page "/MyDevice"

@inherits AppComponentBase;
<PageTitle>@Localizer[nameof(AppStrings.MyDevice)]</PageTitle>

<FxToolBar IsMainToolBar="true" />

<div class="mydevice-content">
    <BitAccordion Title="Pinned" DefaultIsExpanded="true">
        <ContentTemplate>
            <div class="items">
                <FxButton 
                    Text="Card"
                    Width="252px"
                    Height="216px"
                    BorderRadius="4px"
                    ButtonStyle="FxButtonStyle.None" />
                <FxButton
                    Text="Card"
                    Width="252px"
                    Height="216px"
                    BorderRadius="4px"
                    ButtonStyle="FxButtonStyle.None" />
                <FxButton
                    Text="Card"
                    Width="252px"
                    Height="216px"
                    BorderRadius="4px"
                    ButtonStyle="FxButtonStyle.None" />
            </div>
        </ContentTemplate>
    </BitAccordion>

    <div class="list-container @ViewMode-view">
        @foreach (var item in ListItems)
        {
            <ListItem Config="item"></ListItem>
        }
    </div>
</div>