@page "/MyDevice"

@inherits AppComponentBase;

<ToolBar IsMainToolBar="true" />

<div class="mydevice-content">

    <button @onclick="Copy">Open Modal</button>

    <BitAccordion Title="Pinned" DefaultIsExpanded="true">
        <ContentTemplate>
            <div class="items">
                @foreach (var cardConfig in PinnedCards)
                {
                    <FileCard CardConfig="cardConfig" />
                }
            </div>
        </ContentTemplate>
    </BitAccordion>

    <FxListView ListTitle="@Localizer[nameof(AppStrings.MyDevice)]" ItemsSource="Artifacts"
    @ref="_fxListViewRef"/>

    <p>@_message</p>
</div>

<ArtifactSelectionModal @ref="_artifactSelectionModalRef"></ArtifactSelectionModal>