@import '../Styles/abstracts/_variables.scss';
@import '../Styles/abstracts/_functions.scss';
@import '../Styles/components/_bit-accordion.scss';

.newfolder-sheet {
    padding: 0 $spacing-21;

    h3 {
        font-family: $montserrat-semi-bold;
        margin: 0 0 40px 0;
    }

    ::deep .text-input {
        width: 100%;
    }
}