@import '../Styles/abstracts/_variables.scss';
@import '../Styles/abstracts/_functions.scss';
@import '../Styles/components/_bit-accordion.scss';

.mydevice-content {
    padding: 0 21px;
}

.grid-view {
    display: grid;
    grid-gap: 1px;
    grid-auto-flow: row;
    grid-template-columns: repeat(2,minmax(0,1fr)) !important;
}