@page "/MyDevice"

@inherits AppComponentBase;
<PageTitle>@Localizer[nameof(AppStrings.MyDevice)]</PageTitle>

<FxToolBar IsMainToolBar="true" />

<div class="mydevice-content">
    <BitAccordion Title="Pinned" DefaultIsExpanded="true">
        <ContentTemplate>
            <div class="items">
                @foreach (var cardConfig in PinnedCards)
                {
                    <FileCard CardConfig="cardConfig" />
                }
            </div>
        </ContentTemplate>
    </BitAccordion>

    <ListView ListTitle="@Localizer[nameof(AppStrings.MyDevice)]" ListItems="ListItems" />
</div>