@page "/Settings"

<div class="settings-content">
    <h1 class="title">Settings</h1>
    <FxButton 
        Text="Files & Blox hardware"
        ButtonStyle="FxButtonStyle.MenuLine"
        RightIcon="images/icons/chevron-right.svg" />
    <FxButton 
        Text="Mode"
        Link="settings/theme"
        MetaDataText="Current: Night mode"
        ButtonStyle="FxButtonStyle.MenuLine"
        RightIcon="images/icons/chevron-right.svg" />
    <FxButton
        Text="Pools"
        ButtonStyle="FxButtonStyle.MenuLine"
        RightIcon="images/icons/chevron-right.svg" />
    <FxButton
        Text="About"
        ButtonStyle="FxButtonStyle.MenuLine"
        RightIcon="images/icons/chevron-right.svg" />

    <div class="divider"></div>

    <FxButton 
        RightIcon=""
        Text="Log out"
        ButtonStyle="FxButtonStyle.Normal"
        ButtonSize="FxButtonSize.Stretch" />

    <p>Functionland File Sync App version 00.01.05</p>
</div>