@import '../Styles/abstracts/_variables.scss';
@import '../Styles/abstracts/_functions.scss';

$var1: #dddddd;
$var2: #f2f2f2;
$var3: #04AA6D;

.page {
    padding: $spacing-12;
}

test-selector-dropdown{
    color: color(gray-content1);
}

.test-selector {
    display: flex;
    align-items: end;
    gap: 10px;
}

.label{
    margin-top: $spacing-12;
}

.progress-items {
    padding: 10px;
    cursor: pointer;
}

.progress-item {
    display: flex;
    padding: 3px;
    margin: 3px;
    &:hover{
        background-color: whitesmoke;
    }
}

.show-details {
    margin-left: 10px;
    color: cornflowerblue;

    &:hover {
        text-decoration: underline;
    }
}

.test-icon-success {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: url($success-mode);
}

.test-icon-error {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: url($error-mode);
}

.test-icon-warning {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: url($warning-mode);
}
.test-icon-info {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: url($info-mode);
}