@page "/TestExplorer"

@inherits AppComponentBase;
<EditForm Model="TestName" OnValidSubmit="HandleValidSubmit">
    <div>
        <BitDropDown Label="Select tests"
                     Items="GetDropdownItems()"
                     @bind-Value="TestName"
                     Placeholder="Select tests"
                     Style="width: 290px; margin: 20px 0 20px 0" />
    </div>

    <br />

    <BitButton ButtonType="BitButtonType.Submit">
        Submit
    </BitButton>
</EditForm>
<div>

    <table id="tests">
        <tr>
            <th>Title</th>
            <th>ProgressType</th>
            <th>Description</th>
        </tr>
        @foreach (var testProgressChangedEventArg in testProgressChangedEventArgs)
        {
            <tr>
                <td>@testProgressChangedEventArg.Title</td>
                <td style="@(testProgressChangedEventArg.ProgressType==TestProgressType.Success?"color:green":"color:red")">@testProgressChangedEventArg.ProgressType</td>
                <td>@testProgressChangedEventArg.Description</td>
            </tr>
        }

    </table>
</div>
