@page "/Zones"

@inherits AppComponentBase;
<PageTitle>@Localizer[nameof(AppStrings.Zones)]</PageTitle>

<ToolBar
    IsMainToolBar="false"
    Title="@Localizer[nameof(AppStrings.Zones)]"
    SubTitle="Add, edit and sync files in zones" />

<div class="zones-content">
    Hi :)
</div>