@page "/Zones"

@inherits AppComponentBase;
<PageTitle>@Localizer[nameof(AppStrings.Zones)]</PageTitle>

<ToolBar
    IsMainToolBar="false"
    IsAddButtonVisible="true"
    Title="@Localizer[nameof(AppStrings.Zones)]"
    SubTitle="Add, edit and sync files in zones" />

<div class="zones-content">
    <div class="empty-zone">
        Nothing here

        <FxButton 
            Text="Create zone"
            Margin="24px 0 0 0"
            ButtonSize="FxButtonSize.Stretch"
            ButtonStyle="FxButtonStyle.Outline"
            LeftIcon="images/icons/lightDesignSystem/zones.svg" />
    </div>
</div>