@page "/MyDevice"
@namespace Functionland.FxFiles.Client.Shared.Pages
@inherits AppComponentBase;
<PageTitle>@Localizer[nameof(AppStrings.MyDevice)]</PageTitle>

<div class="fx-basic-page @(_applyAnimation ? "fx-page-open-mode" : "")">
    <FileBrowser FileService="_fileService"
                 PinService="_pinService"
                 ThumbnailService="_thumbnailService"
                 InitialPath="@DecodedDefaultPath" />
</div>
