@import '../../Styles/abstracts/_variables.scss';
@import '../../Styles/abstracts/_functions.scss';
@import '../../Styles/components/_bit-accordion.scss';

.Fx-basic-page {
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 300ms ease;
}

.fx-page-open-mode {
    transform: scaleY(1);
}