@import '../../../Styles/abstracts/_variables.scss';
@import '../../../Styles/abstracts/_functions.scss';
@import '../../../Styles/abstracts/_mixins.scss';

.sticky-header {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
}

.close-btn {
    cursor: pointer;
    text-align: right;

    &::before {
        font-size: $icon-24;
        @include Icon($close, $pure-white);
    }
}

.select-destination-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: $spacing-24;
    padding-bottom: $spacing-21;

    .selected-items-text,
    .selected-items-count {
        font-size: $font-size-12;
        line-height: $line-height-16;
        font-family: $montserrat-medium;
        color: color(gray-content1);
    }

    .select-destination-title {
        font-family: $montserrat-semi-bold;
        font-size: $font-size-18;
        line-height: $line-height-24;
        color: color(gray-content1);
    }
}

.select-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    height: 100%;
    overflow-y: auto;
    position: relative;
}


.button-container {
    height: 102px;
    display: flex;
    position: sticky;
    padding: 26px 21px;
    justify-content: center;
}