@namespace Functionland.FxFiles.Client.Shared.Components.Modal
@inherits AppComponentBase


<FxBottomSheet ShowCloseButton="false" @bind-IsOpen="_isModalOpen" OnClose="Close" IsFullScreenMode="true">
    <div class="sticky-header">
        <div class="close-btn" @onclick="(() => Close())"></div>

        <div class="select-destination-container">
            <div class="select-destination-info">
                <div class="item-selected">
                    <span class="selected-items-count">@_artifactActionResult?.Artifacts?.Count</span>
                    <span class="selected-items-text">@Localizer[nameof(AppStrings.ItemsSelected)]</span>
                </div>

                <div class="select-destination-title">@Localizer[nameof(AppStrings.SelectDestination)]</div>
            </div>

            <FxButton Width="40px"
              Height="40px"
              OnClick="CreateFolder"
              ButtonStyle="FxButtonStyle.IconOnly"
              LeftIcon="_content/Functionland.FxFiles.Client.Shared/images/icons/plus.svg" />
        </div>
    
        <FxDivider FxDividerMode="FxDividerMode.Solid" FxDividerSize="FxDividerSize.Thin" FxDividerType="FxDividerType.Horizontal"/>

    </div>

    <div class="container">


        @if (_artifacts is not null)
        {
            <ArtifactExplorer Artifacts="_artifacts"
                          FileService="FileService"
                          ThumbnailService="ThumbnailService"
                          ArtifactExplorerMode="ArtifactExplorerMode.SelectDestionation"
                          CurrentArtifact="_currentArtifact"
                          OnSelectArtifact="SelectArtifact"
                          OnAddFolderButtonClick="CreateFolder" />
        }
    </div>

    <div class="button-container">
        <FxButton Width="100%"
                  Height="60px"
                  Text="@(_artifactActionResult?.ActionType == ArtifactActionType.Copy? Localizer[nameof(AppStrings.CopyHere)] : Localizer[nameof(AppStrings.MoveHere)])"
                  OnClick="SelectDestionation"
                  ButtonStyle="FxButtonStyle.Normal" />
    </div>
</FxBottomSheet>
<InputModal @ref="_inputModalRef" />