@namespace Functionland.FxFiles.Client.Shared.Components.Modal
@inherits AppComponentBase

@if (_isModalOpen == true)
{
    <div class="file-viewer-container">
        <div class="main-content">
            <button onclick="@(() =>Back())">Back</button>

            @if (IsSupported<ImageViewer>(_currentArtifact))
            {
                <ImageViewer CurrentArtifact="@_currentArtifact" FileService="FileService" />
            }
        </div>
    </div>
}
