@namespace Functionland.FxFiles.Client.Shared.Components.Modal
@inherits AppComponentBase

@if (IsModalOpen == true && _currentArtifact is not null)
{
    <div class="file-viewer-container" style="@(IsmacOS ? "padding-top:50px" : "")">
        <div class="main-content">
            @if (IsSupported<ImageViewer>(_currentArtifact))
            {
                <ImageViewer CurrentArtifact="@_currentArtifact"
                             OnOptionClick="OnOptionClick"
                             FileService="FileService"
                             OnBack="HandleBackAsync"
                             OnUnpin="OnUnpin" 
                             OnPin="OnPin" />
            }
            else if (IsSupported<ZipViewer>(_currentArtifact))
            {
                <ZipViewer CurrentArtifact="_currentArtifact"
                           FileService="FileService"
                           NavigationFolderCallback="HandleNavigateAsync"
                           OnBack="HandleBackAsync"
                           ThumbnailService="ThumbnailService" />
            }
            else if (IsSupported<TextViewer>(_currentArtifact))
            {
                <TextViewer CurrentArtifact="_currentArtifact"
                            FileService="FileService"
                            OnBack="HandleBackAsync"
                            OnOptionClick="OnOptionClick"
                            OnPin="OnPin"
                            OnUnpin="OnUnpin" />
            }
        </div>
    </div>
}