@namespace Functionland.FxFiles.Client.Shared.Components.Modal
@inherits AppComponentBase

@using Functionland.FxFiles.Client.Shared.Utils

<div class="navigation-header">
    <FxButton Padding="0"
              OnClick="@OnBack"
              Class="back-button"
              BackgroundColor="transparent"
              IsVisible="true"
              ButtonStyle="FxButtonStyle.None" />
    <div class="right-side">
        <div class="@(CurrentArtifact?.IsPinned == true ? "pin-icon":"pin-icon-outline")"></div>
        <div class="more-option-icon"></div>
    </div>
</div>

<img src="@(CurrentArtifact?.ThumbnailPath?.InProtocol(Protocol) ?? "")" />