@import '../../../Styles/abstracts/_mixins.scss';
@import '../../../Styles/abstracts/_variables.scss';
@import '../../../Styles/abstracts/_functions.scss';

.navigation-header {
    justify-content: center;
    align-items: center;
    padding: 8px 21px;
    position: fixed;
    display: flex;
    z-index: 1;
    right: 0;
    left: 0;

    .right-side {
        justify-content: center;
        align-items: center;
        margin-left: auto;
        display: flex;

        .pin-icon::before {
            cursor: pointer;
            font-size: 24px;
            text-shadow: rgb(52, 58, 64) 0px 0px 3px;
            @include Icon($pin, $pure-white);
        }

        .pin-icon-outline::before {
            cursor: pointer;
            font-size: 24px;
            text-shadow: rgb(52, 58, 64) 0px 0px 3px;
            @include Icon($pin-outline, $pure-white);
        }

        .more-option-icon::before {
            cursor: pointer;
            font-size: 24px;
            text-shadow: rgb(52, 58, 64) 0px 0px 3px;
            @include Icon($options-vertical, $pure-white);
        }

        .more-option-icon {
            margin-left: 16px;
        }
    }
}

.main-image {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    position: fixed;
    text-align: center;
    background: $main-dark;

    .image-wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .image-file {
        width: 100%;
        max-height: 100%;
        user-select: none;
        object-fit: contain;
        -webkit-user-drag: none;
        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
    }

    .pich-zoom {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

::deep .color-back-button::after {
    text-shadow: rgb(52, 58, 64) 0px 0px 3px;
    color: $gray-light-bg-primary !important;
}
