@namespace Functionland.FxFiles.Client.Shared.Components.Modal
@inherits AppComponentBase

@using Functionland.FxFiles.Client.Shared.Utils

<div class="navigation-header">
    <FxButton OnClick="@OnBack"
              Class="back-button"
              BackgroundColor="transparent"
              IsVisible="true"
              ButtonStyle="FxButtonStyle.None" />
    <div class="right-side">
        <div class="@(CurrentArtifact?.IsPinned == true ? "pin-icon":"pin-icon-outline")" @onclick="@(CurrentArtifact?.IsPinned == true ? UnpinArtifact : PinArtifact)"></div>
        <div class="more-option-icon" @onclick="ArtifactOption"></div>
    </div>
</div>

<div class="main-image">
    <img src="@(CurrentArtifact?.FullPath?.InProtocol(Protocol) ?? "")" />
</div>