@namespace Functionland.FxFiles.Client.Shared.Components.Modal
@inherits AppComponentBase

@using Functionland.FxFiles.Client.Shared.Utils

<div class="navigation-header">
    <FxBackButton IsEnabled="true" OnClick="OnBack" Class="color-back-button"></FxBackButton>
    <div class="right-side">
        <div class="@(CurrentArtifact?.IsPinned == true ? "pin-icon":"pin-icon-outline")" @onclick="@(CurrentArtifact?.IsPinned == true ? HandleUnpinAsync : HandlePinAsync)"></div>
        <div class="more-option-icon" @onclick="HandleOptionClickAsync"></div>
    </div>
</div>


<div class="main-image">
    <div class="image-wrapper">
        <img src="@(CurrentArtifact?.FullPath?.InProtocol(Protocol) ?? "")" class="image-file" id="image-viewer" />
    </div>
</div>