@import '../../../Styles/abstracts/_mixins.scss';
@import '../../../Styles/abstracts/_variables.scss';
@import '../../../Styles/abstracts/_functions.scss';

.navigation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 21px;

    ::deep .back-button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }

    .right-side {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;

        .pin-icon::before {
            font-size: 24px;
            @include Icon($pin, color(gray-content1));
            color: color(gray-content1);
        }

        .pin-icon-outline::before {
            font-size: 24px;
            @include Icon($pin-outline, color(gray-content1));
        }

        .more-option-icon::before {
            @include Icon($options-vertical, color(gray-content1));
            font-size: 24px;
        }
    }
}

.text-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    user-select: text;
    -webkit-user-select: text;

    .title {
        font-size: 24px;
        font-family: $montserrat-semi-bold;
        line-height: $line-height-36;
        color: color(gray-content1);
        padding: 21px;
        border-bottom: 1px solid color(gray-border);
    }

    .text {
        padding: 8px 21px 8px;
        font-size: $font-size-14;
        line-height: $line-height-24;
        letter-spacing: $letter-spacing-02;
        font-family: $open-sans-semi-bold;
        color: color(gray-content2);
        overflow-y: auto;
        margin-bottom: 60px;
    }
}