@namespace Functionland.FxFiles.Client.Shared.Components.Modal
@inherits AppComponentBase


<div class="navigation-header">
    <FxButton OnClick="HandleBackAsync"
              Class="back-button"
              Padding="8px 16px 8px 0px"
              BackgroundColor="transparent"
              IsVisible="true"
              ButtonStyle="FxButtonStyle.None" />
</div>

<div class="header">
    <div class="artifact-title">
        @CurrentArtifact?.Name
    </div>
    <div class="extract-button">
        <FxButton OnClick="@OnBack"
                  IsVisible="true"
                  Text="Extract"
                  ButtonStyle="FxButtonStyle.Normal"
                  LeftIcon="_content/Functionland.FxFiles.Client.Shared/images/icons/extract.svg" />
    </div>
</div>


@if (ArtifactExplorerMode == ArtifactExplorerMode.Normal)
{
    <div class="list-header">
        <div>breadcrumb</div>
        <div class="action-btn select-all-btn" @onclick="HandleSelectAllArtifact"></div>
    </div>
    <div class="divider">
        <FxDivider FxDividerMode="FxDividerMode.Solid" FxDividerType="FxDividerType.Horizontal" FxDividerSize="FxDividerSize.Thin"></FxDivider>
    </div>
}
@if (ArtifactExplorerMode == ArtifactExplorerMode.SelectArtifact)
{
    <div class="select-action">
        <div class="info-selection">
            <div class="close-btn" @onclick="CancelSelectionMode"></div>
            <div class="item-selected">
                <span class="item-selected-count">@_selectedArtifacts.Count</span>
                <span class="item-selected-text">items selected</span>
            </div>
        </div>

        <div class="right-part">
            @if (_selectedArtifacts.Count > 0)
            {
                <div class="icons-action move-icon" @onclick="(() => HandleExtractArtifactsAsync(_selectedArtifacts))"></div>
            }
        </div>
    </div>
}

<div class="artifact-list">
    <ArtifactExplorer Artifacts="_displayedArtifacts"
                      FileService="FileService"
                      CurrentArtifact="null"
                      OnSelectArtifact="HandleArtifactClick"
                      HandleBack="HandleBackAsync"
                      IsInZipMode="true"
                      OnZipArtifactClick="HandleExtractArtifactsAsync"
                      IsInSearchMode="false"
                      @bind-SelectedArtifacts="_selectedArtifacts"
                      @bind-ArtifactExplorerMode="ArtifactExplorerMode" />
</div>