@namespace Functionland.FxFiles.Client.Shared.Components.Modal
@inherits AppComponentBase


<div class="navigation-header">
    <FxButton OnClick="@OnBack"
              Class="back-button"
              Padding="8px 16px 8px 0px"
              BackgroundColor="transparent"
              IsVisible="true"
              ButtonStyle="FxButtonStyle.None" />
</div>

<div class="header">
    <div class="artifact-title">
        @CurrentArtifact?.Name
    </div>
    <div class="extract-button">
        <FxButton OnClick="@OnBack"
                  IsVisible="true"
                  Text="Extract"
                  ButtonStyle="FxButtonStyle.Normal"
                  LeftIcon="_content/Functionland.FxFiles.Client.Shared/images/icons/extract.svg" />
    </div>
</div>

<div class="list-header">
    <div>breadcrumb</div>
    <div class="action-btn select-all-btn" @onclick="OnToggle"></div>
</div>

<div class="artifact-list">
    <ArtifactExplorer Artifacts="_displayedArtifacts"
                      FileService="FileService"
                      CurrentArtifact="null"
                      OnSelectArtifact="OnSelectArtifact"
                      HandleBack="OnBack"
                      IsInSearchMode="false"
                      @bind-SelectedArtifacts="_selectedArtifacts"
                      @bind-ArtifactExplorerMode="ArtifactExplorerMode" />
</div>