@import "../abstracts/_variables.scss";

::deep .bit-acd.bit-acd-fluent {
    padding: 0;
    border: none;
    color: color(gray-content1);
    background-color: transparent;
}

::deep .bit-acd .intro {
    flex-grow: 0;
}

::deep .bit-acd .header {
    font-family: $montserrat-medium;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

::deep .bit-acd .header.expanded .header-icon {
    font-weight: bold;
    transform: rotate(0);
}

::deep .bit-acd .header.collapsed .header-icon {
    font-weight: bold;
    transform: rotate(270deg);
}

::deep .bit-acd .content.collapsed {
    display: none;
}

::deep .bit-acd .content.expanded {
    display: inline-grid;
    padding-top: 0;
}

::deep .bit-acd .content.expanded::-webkit-scrollbar {
    height: 6px;
}

::deep .bit-acd .content.expanded .items {
    gap: 16px;
    display: flex;
    overflow-y: unset;
    max-height: 237px;
    flex-direction: row;
    white-space: nowrap;
    scroll-behavior: smooth;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    padding: 0 21px 21px 21px;
}