@page "/folder"

@inherits AppComponentBase;

<div class="folder-page-container">
    <FxToolBar Title="Folder name"
             SubTitle="Update: 09/30/20"
             IsAddButtonVisible="true"
             IsBackButtonVisible="true"
             IsOverflowButtonVisible="true"
             IsInRoot="false" />
    <div class="folder-list-wrapper">
        @*<FxListView HasSearchInput="true" ItemsSource="Artifacts"/>*@
    </div>
</div>

