@import '../Styles/abstracts/_variables.scss';
@import '../Styles/abstracts/_functions.scss';
@import '../Styles/components/_bit-toggle.scss';
@import '../Styles/components/_bit-checkbox.scss';
@import '../Styles/components/_bit-progress-indicator.scss';

.theme-content {
    gap: 10px;
    display: grid;
    padding: 21px;
}