@page "/Zones"

@inherits AppComponentBase;
<PageTitle>@Localizer[nameof(AppStrings.Zones)]</PageTitle>

<div class="zones-content">
    <FxToolBar
        IsInRoot="false"
        IsBackButtonVisible="false"
        IsOverflowButtonVisible="false"
        Title="@Localizer[nameof(AppStrings.Zones)]"
        SubTitle="Add, edit and sync files in zones" />

    <div class="zones-wrapper">
        <div class="empty-zone">
            Nothing here

            <FxButton 
                Text="Create zone"
                Margin="24px 0 0 0"
                ButtonSize="FxButtonSize.Stretch"
                ButtonStyle="FxButtonStyle.Outline"
                LeftIcon="_content/Functionland.FxFiles.Client.Shared/images/icons/lightDesignSystem/zones.svg" />
        </div>
    </div>
</div>