@import "../../Styles/abstracts/_variables.scss";
@import "../../Styles/abstracts/_functions.scss";
@import "../../Styles/abstracts/_mixins.scss";

.video-viewer {
    display: grid;
    grid-template-rows: 41px 1fr 88px;
    gap: $spacing-16;
    height: 100vh;
    background-color: $main-dark;
}

.video-toolbar {
    display: flex;
    justify-content: space-between;
    padding: $spacing-0 $spacing-21;

    .right-side-toolbar {
        display: flex;
    }

    ::deep .back-button::after {
        font-size: $icon-24;
        vertical-align: middle;
        @include Icon($arrow-left, $pure-white);
    }

    ::deep .overflow-button::after {
        font-size: $icon-24;
        vertical-align: middle;
        @include Icon($options-vertical, $pure-white);
    }

    ::deep .pin-button::after {
        font-size: $icon-24;
        vertical-align: middle;
        @include Icon($pin, $pure-white, $Icons-Filled);
    }

    ::deep .picture-in-picture-button::after {
        font-size: $icon-24;
        vertical-align: middle;
        @include Icon($external-link, $pure-white);
    }
}

#fxVideoElement {
    width: 100%;
    min-height: 100%;
    height: 100%;
    outline: none;
}

.video-commandbar {
    padding: $spacing-0 $spacing-21;

    input[type="range"] {
        width: 100%;
        margin: 0;
        border: none;
        border-radius: $border-radius-8;
        outline: none;
        accent-color: white;


        &::-webkit-slider-thumb {
            width: 12px;
            height: 12px;
            background: $pure-white;
            border-radius: 50%;
        }

        &:focus,
        &:active::-webkit-slider-thumb,
        &::-moz-focus-outer {
            border: 0px;
            outline: 0px;
        }
    }
}

.fxVideo-controls {
    display: flex;
    justify-content: space-between;
    font-size: $font-size-12;
    font-family: $open-sans-light;
    color: $pure-white;
    line-height: $line-height-16;
    letter-spacing: $letter-spacing-02;

    .fxVideo-control-buttons {
        width: 152px;
        height: 24px;
        display: flex;
        justify-content: space-between;
    }
}
