@import "../../Styles/abstracts/_variables.scss";
@import "../../Styles/abstracts/_functions.scss";
@import "../../Styles/abstracts/_mixins.scss";

.video-toolbar {
    display: flex;
    padding: 16px 21px;
    justify-content: space-between;
}

.right-side-toolbar {
    display: flex;
}

::deep .back-button::after {
    font-size: 24px;
    vertical-align: middle;
    @include Icon($arrow-left);
}

::deep .overflow-button::after {
    font-size: 24px;
    vertical-align: middle;
    @include Icon($options-vertical);
}

::deep .pin-button::after {
    font-size: 24px;
    vertical-align: middle;
    @include Icon($pin, color(gray-content1), $Icons-Filled);
}

input[type="range"] {
    width: 98%;
    border: none;
    outline: none;
    accent-color: white;
}

input[type=range]::-webkit-slider-thumb {
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 50%;
}

video {
    width: 100%;
    height: 100%;
}

#fxVideoControls {
    display: flex;
    justify-content: space-around;
}