@page "/VideoFileViewer"
@using Functionland.FxFiles.Client.Shared.Utils
@inherits AppComponentBase

<div>
    <FxToolBar IsInRoot="false"
               IsBackButtonVisible="true"
               IsAddButtonVisible="false"
               IsOverflowButtonVisible="false"
               OnBackClick="HandleToolbarBack" />

    <video id="fxVideoElement" controls>
        <source src="@(Path.InProtocol(PathProtocol.Storage))" type="video/mp4" />
    </video>

    <input id="fxVideoProgressElement" type="range" min="0" value="0" step=".1"/>

    <div id="fxVideoControls">
        <span id="fxVideoCurrentTimeText">00:00</span>

        <button @onclick="OnBackwardClick">Backward</button>
        <button @onclick="OnTogglePlayClick">Play/Pause</button>
        <button @onclick="OnForwardClick" >Forward</button>
        <button @onclick="OnPictureInPictureClick">Picture In Picture</button>

        <span id="fxVideoDurationText">00:00</span>
    </div>
</div>