@page "/VideoFileViewer"
@using Functionland.FxFiles.Client.Shared.Utils
@inherits AppComponentBase

<div class="video-viewer">
    <div class="video-toolbar">
        <FxButton Padding="0"
                  Class="back-button"
                  OnClick="HandleToolbarBack"
                  BackgroundColor="transparent"
                  ButtonStyle="FxButtonStyle.None" />
        <div class="right-side-toolbar">
            <!-- Todo: this position of picture-in-picture button is temperory and will be removed -->
            <FxButton Padding="0"
                      OnClick="OnPictureInPictureClick"
                      BackgroundColor="transparent"
                      Class="picture-in-picture-button"
                      ButtonStyle="FxButtonStyle.None" />
            <FxButton Padding="0"
                      Class="pin-button"
                      Margin="0 16px"
                      BackgroundColor="transparent"
                      ButtonStyle="FxButtonStyle.None" />
            <FxButton Padding="0"
                      Class="overflow-button"
                      BackgroundColor="transparent"
                      ButtonStyle="FxButtonStyle.None" />

        </div>
    </div>

    <video controls id="fxVideoElement">
        <source src="@(Path.InProtocol(PathProtocol.Storage))" type="video/mp4" />
    </video>

    <div class="video-commandbar">
        <input id="fxVideoProgressElement" type="range" min="0" value="0" step=".1" />
        <div class="fxVideo-controls">
            <span id="fxVideoCurrentTimeText">00:00</span>
            <div class="fxVideo-control-buttons">
                <FxButton Padding="0"
                          OnClick="OnBackwardClick"
                          BackgroundColor="transparent"
                          ButtonStyle="FxButtonStyle.None"
                          LeftIcon="_content/Functionland.FxFiles.Client.Shared/images/icons/videoViewer/backward.svg" />
                <FxButton Padding="0"
                          OnClick="OnTogglePlayClick"
                          BackgroundColor="transparent"
                          ButtonStyle="FxButtonStyle.None"
                          LeftIconId="fxVideoPlayButton"
                          LeftIcon="_content/Functionland.FxFiles.Client.Shared/images/icons/videoViewer/pause.svg" />
                <FxButton Padding="0"
                          OnClick="OnForwardClick"
                          BackgroundColor="transparent"
                          ButtonStyle="FxButtonStyle.None"
                          LeftIcon="_content/Functionland.FxFiles.Client.Shared/images/icons/videoViewer/forward.svg" />
            </div>
            <span id="fxVideoDurationText">00:00</span>
        </div>
    </div>
</div>