@import "../../Styles/abstracts/_variables.scss";
@import "../../Styles/abstracts/_functions.scss";
@import "../../Styles/abstracts/_mixins.scss";

.video-viewer {
    display: grid;
    min-height: inherit;
}

.video-toolbar {
    height: 72px;
    display: flex;
    padding: 16px 21px;
    justify-content: space-between;
}

.video-commandbar {
    height: 104px;
    align-self: end;
    padding: 16px 21px;
    justify-content: space-between;
}

.right-side-toolbar {
    display: flex;
}

::deep .back-button::after {
    font-size: 24px;
    vertical-align: middle;
    @include Icon($arrow-left, white);
}

::deep .overflow-button::after {
    font-size: 24px;
    vertical-align: middle;
    @include Icon($options-vertical, white);
}

::deep .pin-button::after {
    font-size: 24px;
    vertical-align: middle;
    @include Icon($pin, white, $Icons-Filled);
}

::deep .picture-in-picture-button::after {
    font-size: 24px;
    vertical-align: middle;
    @include Icon($external-link, white);
}

input[type="range"] {
    margin: 0;
    width: 100%;
    border: none;
    outline: none;
    accent-color: white;
}

input[type=range]::-webkit-slider-thumb {
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 50%;
}

video {
    width: 100%;
    height: 100%;
}

.fxVideo-controls {
    display: flex;
    font-size: 12px;
    font-family: $open-sans-light;
    justify-content: space-between;
}

.fxVideo-control-buttons {
    width: 152px;
    height: 24px;
    display: flex;
    justify-content: space-between;
}