@page "/FileViewers/ZipFileViewerPage/{EncodedFullPath}/{FileServiceProvider}/{EncodedReturnUrl}"
@inherits AppComponentBase

<p>@ZipPath</p>
<br />
<BitButton OnClick="Close">Open in folder</BitButton>

