@import '../../Styles/abstracts/_mixins.scss';
@import '../../Styles/abstracts/_variables.scss';
@import '../../Styles/abstracts/_functions.scss';

.toolbar-box {
    width: 100%;
    padding: 8px 21px;
    overflow-x: hidden;
}

.toolbar-search-row ::deep input.input-box {
    flex-grow: 2;
}

.left-btn-wrapper {
    width: 25px;
    height: 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    transition: width 250ms linear 100ms, opacity 250ms linear;
    opacity: 1;
}

.right-btn-wrapper {
    width: 88px;
    height: 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    transition: width 250ms linear 100ms, opacity 250ms linear;
    opacity: 1;
}

.hide-element {
    width: 0;
    overflow: hidden;
    opacity: 0;
}

.search-toolbar-not-in-root {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: $spacing-16;

    ::deep .back-button::after {
        font-size: 24px;
        vertical-align: middle;
        @include Icon($arrow-left);
    }
}

    .search-toolbar-not-in-root ::deep input.input-box {
        flex-grow: 2;
    }

.toolbar-search-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    overflow-x: hidden;

    ::deep .back-button::after {
        font-size: 24px;
        vertical-align: middle;
        @include Icon($arrow-left);
    }

    ::deep .search-back-button::after {
        font-size: 24px;
        vertical-align: middle;
        @include Icon($chevron-left);
    }

    ::deep .right-btn-wrapper {
        .fxbutton-lefticon {
            margin-right: 0px;
        }
    }
}

    .root-mode ::deep input.input-box {
        flex-grow: 2;
    }

    ::deep .back-button-space {
        margin-right: $spacing-8;
    }

.folder-info-row {
    width: 100%;
    margin-top: 16px;

    ::deep .search-back-button::after {
        font-size: 24px;
        vertical-align: middle;
        @include Icon($chevron-left);
    }

    ::deep .fxbutton img {
        height: 24px;
        width: 24px;
    }

    ::deep .back-button::after {
        font-size: 24px;
        vertical-align: middle;
        @include Icon($arrow-left);
    }

    ::deep .overflow-button::after {
        font-size: 24px;
        vertical-align: middle;
        @include Icon($options-vertical);
    }

    .action-row {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        .info-box {

            .artifact-title {
                font-family: $montserrat-medium;
                font-style: normal;
                font-weight: 600;
                font-size: $font-size-24;
                line-height: $line-height-36;
                color: color(gray-content1);
                max-width: 220px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .pinned-icon::before {
                margin-right: $spacing-4;
                font-size: $icon-24;
                @include Icon($pin, color(gray-content1));
            }
            /*            .artifact_subtext {
                color: color(gray-content3);
                font-family: $open-sans-regular;
                font-style: normal;
                font-weight: 400;
                font-size: $font-size-14;
                line-height: $line-height-24;
            }*/
        }

        .action-box {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
        }
    }
}

.folder-show {
    opacity: 1;
    transition: opacity 300ms linear;
}

.folder-hide {
    opacity: 0;
    transition: opacity 300ms linear;
}

    ::deep .animate-button {
        position: relative;
        color: red !important;
    }

    ::deep .animate-button:after {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 120px;
        height: 120px;
        margin-left: -60px;
        margin-top: -60px;
        background-color: #038082;
        border-radius: 100%;
        opacity: 0.6;
        transform: scale(0);
    }

    ::deep .animate-button:not(:active):after {
        animation: ripple 300ms ease-in-out 1ms;
    }

    ::deep .animate-button:after {
        visibility: hidden;
    }

    ::deep .animate-button:focus:after {
        visibility: visible;
    }

    ::deep .animate-button:hover {
        transition: background 100ms ease-in;
        background: $green-dark-hover !important;
    }

    ::deep .animate-button:active {
        transition: background 200ms ease-in;
        background: $green-dark-pressed !important;
    }


    @keyframes ripple {
        0% {
            transform: scale(0);
        }

        25% {
            transform: scale(0.25);
        }

        50% {
            transform: scale(0.5);
        }

        75% {
            transform: scale(0.75);
        }

        100% {
            opacity: 1;
            transform: scale(1);
        }
    }