@import '../../Styles/abstracts/_mixins.scss';
@import '../../Styles/abstracts/_variables.scss';
@import '../../Styles/abstracts/_functions.scss';
@import '../../Styles/components/_bit-checkbox.scss';

.list-title {
    font-weight: 600;
    font-style: normal;
    font-size: $font-size-18;
    font-family: $montserrat-medium;
    padding-left: $spacing-21;
    margin-bottom: $spacing-16;
    color: color(gray-content1);
    line-height: $line-height-24;
}


.grid-view {
    display: grid;
    grid-gap: 1px;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, 188px);
    justify-content: center;
}


.move-files-action {
    padding-right: $spacing-24;

    .item-selected-text,
    .move-icon,
    .vertical-option-icon {
        display: none;
    }

    .move-selected-items-text,
    .add-folder {
        display: inline-block !important;
    }
}

//Item styles
.item-container {
    cursor: pointer;
    position: relative;
    padding: $spacing-16 21px;
    border-radius: $border-radius-3;

    .item-icon-position {
        font-size: $icon-24;
        margin-right: 1px;
    }
}

@media (hover: hover) {
    .item-container:hover {
        background-color: color(gray-hover);
    }
}


.item-content {

    .item-title {
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        justify-content: flex-start;

        .pin-badge::before {
            font-size: $icon-20;
            @include Icon($pin, color(gray-content1), $Icons-Filled);
            margin-right: $spacing-8;
        }

        .title-text {
            overflow: hidden;
            font-weight: 400;
            font-style: normal;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: $font-size-16;
            color: color(gray-content1);
            line-height: $line-height-28;
            font-family: $open-sans-regular;
            letter-spacing: $letter-spacing-02;
        }
    }
}

.options-btn {
    cursor: pointer;
    font-size: 24px;
    text-align: center;
}

.list-view-item {
    height: 74px;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;

    .options-btn::before {
        @include Icon($options-vertical);
    }

    .item-content {
        flex-grow: 1;
        overflow: hidden;
        padding-left: 16px;

        .item-sub-text {
            font-weight: 400;
            font-style: normal;
            font-size: $font-size-10;
            color: color(gray-content3);
            line-height: $line-height-14;
            font-family: $open-sans-regular;
            letter-spacing: $letter-spacing-02;
        }
    }
}

.grid-view-item {
    height: 120px;

    .options-btn::before {
        @include Icon($options-horizontal);
    }

    .item-icon-position {
        margin: 0 auto;
        text-align: center;
    }

    .item-content {
        background-position: center top;

        .item-title {
            display: flex;
            align-items: center;
            flex-flow: row nowrap;
            justify-content: center;
        }

        .item-sub-text {
            display: none;
        }
    }
}

.disable-item {
    background-color: color(gray-bg-primary);
    pointer-events: none;

    .item-content {

        .item-title {
            .title-text {
                color: color(gray-border);
            }
        }

        .item-sub-text {
            color: color(gray-border);
        }
    }

    .item-icon-position::before {
        color: color(gray-border);
    }
}
.selected-item {
    background-color: color(gray-bg-primary);
}

.folder-icon::before {
    @include Icon($folder);
}

.text-file-icon::before {
    @include Icon($document);
}

.photo-file-icon::before {
    @include Icon($image);
}

.pdf-file-icon::before {
    @include Icon($PDF);
}

.audio-file-icon::before {
    @include Icon($audio);
}

.video-file-icon::before {
    @include Icon($video);
}

.app-file-icon::before {
    @include Icon($app);
}

/*.select-action {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    background-color: $green-dark-base;
    padding: 0px $spacing-31 0px $spacing-21;

    .info-selection {
        display: flex;
        align-items: center;

        .close-btn {
            cursor: pointer;

            &::before {
                font-size: $icon-16;
                @include Icon($close, $pure-white);
            }
        }

        .item-selected {
            margin-left: $spacing-6;

            .move-selected-items-text,
            .item-selected-count,
            .item-selected-text {
                font-size: $font-size-14;
                line-height: $line-height-24;
                font-family: $open-sans-regular;
                letter-spacing: $letter-spacing-02;
                color: $pure-white;
            }
        }
    }

    .right-part {
        display: flex;
        align-items: center;
        justify-content: center;

        .move-icon::before {
            cursor: pointer;
            font-size: 24px;
            @include Icon($move, $pure-white);
        }

        .vertical-option-icon::before {
            cursor: pointer;
            font-size: 20px;
            @include Icon($options-vertical, $pure-white);
            margin-left: $spacing-16;
        }

        .add-folder::before {
            display: none;
            cursor: pointer;
            font-size: 24px;
            @include Icon($create-folder, $pure-white);
        }
    }
}*/



.position-scroll-btn {
    position: fixed;
    bottom: 95px;
    right: 15px;
    display: none;
}

::deep .fxbutton-content img {
    height: $icon-24 !important;
}

@media only screen and (min-width: 600px) {
    // handle back to top button location in APP
    $a: 50vw;
    $b: 285px;

    .position-scroll-btn {
        position: fixed;
        bottom: 95px;
        right: calc(#{$a} - #{$b});
    }
}
