@import '../../Styles/abstracts/_mixins.scss';
@import '../../Styles/abstracts/_variables.scss';
@import '../../Styles/abstracts/_functions.scss';
@import '../../Styles/components/_bit-checkbox.scss';

.list-title {
    font-weight: 600;
    font-style: normal;
    font-size: $font-size-18;
    font-family: $montserrat-medium;
    padding-left: $spacing-21;
    margin-bottom: $spacing-16;
    color: color(gray-content1);
    line-height: $line-height-24;
}

.action-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 $spacing-21;
    background-color: color(gray-bg-primary);

    .left-actions {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        .selected-sort {
            font-family: $open-sans-regular;
            font-style: normal;
            font-weight: 400;
            font-size: $font-size-14;
            line-height: $line-height-24;
            letter-spacing: $letter-spacing-02;
            margin-right: $spacing-4;
            color: color(gray-content1);
            cursor: pointer;
        }

        .sort-order {
            cursor: pointer;

            &::before {
                font-size: $icon-16;
                @include Icon($chevron-up);
            }
        }

        .desc-order {
            transform: rotate(180deg);

            &::before {
                @include Icon($chevron-up);
            }
        }

        .asc-order::before {
            @include Icon($chevron-up);
        }
    }

    .right-actions {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        .action-btn {
            cursor: pointer;
        }

        .select-all-btn {
            margin-right: $spacing-8;

            &::before {
                @include Icon($select, color(gray-content3));
                font-size: 24px;
            }
        }

        .select-all-filled::before {
            font-size: 24px;
            @include Icon($selected, $green-dark-base, $Icons-Filled);
        }

        .list-view-btn {
            margin-right: $spacing-8;

            &::before {
                font-size: 24px;
                @include Icon($list, color(gray-content3));
            }
        }

        .list-view-selected::before {
            font-size: 24px;
            @include Icon($list, $green-dark-base);
        }

        .grid-view-btn {
            margin-right: $spacing-8;

            &::before {
                font-size: 24px;
                @include Icon($grid, color(gray-content3));
            }
        }

        .grid-view-selected::before {
            font-size: 24px;
            @include Icon($grid, $green-dark-base);
        }

        .filter-btn::before {
            font-size: 24px;
            @include Icon($filter, color(gray-content3));
        }
    }
}

.grid-view {
    display: grid;
    grid-gap: 1px;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, 188px);
    justify-content: center;
}

.list-view {
    min-height: calc(100vh - 354px);
}

.select-action {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    background-color: $green-dark-base;
    padding: 0px $spacing-31 0px $spacing-21;

    .info-selection {
        display: flex;
        align-items: center;

        .close-btn {
            cursor: pointer;

            &::before {
                font-size: 16px;
                @include Icon($close, $pure-white);
            }
        }

        .item-selected {
            margin-left: $spacing-6;

            .move-selected-items-text,
            .item-selected-count,
            .item-selected-text {
                font-size: $font-size-14;
                line-height: $line-height-24;
                font-family: $open-sans-regular;
                letter-spacing: $letter-spacing-02;
                color: $pure-white;
            }
        }
    }

    .right-part {
        display: flex;
        align-items: center;
        justify-content: center;

        .move-icon::before {
            cursor: pointer;
            font-size: 24px;
            @include Icon($move, $pure-white);
        }

        .vertical-option-icon::before {
            cursor: pointer;
            font-size: 20px;
            @include Icon($options-vertical, $pure-white);
            margin-left: $spacing-16;
        }

        .add-folder::before {
            display: none;
            cursor: pointer;
            font-size: 24px;
            @include Icon($create-folder, $pure-white);
        }
    }
}

.move-files-action {
    padding-right: $spacing-24;

    .item-selected-text,
    .move-icon,
    .vertical-option-icon {
        display: none;
    }

    .move-selected-items-text,
    .add-folder {
        display: inline-block !important;
    }
}

//Item styles
.item-container {
    cursor: pointer;
    position: relative;
    padding: $spacing-16 21px;

    .item-icon-position {
        background-size: $icon-24;
        background-repeat: no-repeat;
        height: 24px;
        width: 24px;
    }
}

.item-content {

    .item-title {
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        justify-content: flex-start;

        .pin-badge::before {
            font-size: $icon-20;
            @include Icon($pin, color(gray-content1), $Icons-Filled);
            margin-right: $spacing-8;
        }

        .title-text {
            overflow: hidden;
            font-weight: 400;
            font-style: normal;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: $font-size-16;
            color: color(gray-content1);
            line-height: $line-height-28;
            font-family: $open-sans-regular;
            letter-spacing: $letter-spacing-02;
        }
    }
}

.options-btn {
    cursor: pointer;
    font-size: 24px;
    text-align: center;
}

.list-view-item {
    height: 74px;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;

    .options-btn::before {
        @include Icon($options-vertical);
    }

    .item-icon-position {
        background-position: center left;
    }

    .item-content {
        flex-grow: 1;
        overflow: hidden;
        padding-left: 16px;

        .item-sub-text {
            font-weight: 400;
            font-style: normal;
            font-size: $font-size-10;
            color: color(gray-content3);
            line-height: $line-height-14;
            font-family: $open-sans-regular;
            letter-spacing: $letter-spacing-02;
        }
    }
}

.grid-view-item {
    height: 120px;

    .options-btn::before {
        @include Icon($options-horizontal);
    }

    .item-icon-position {
        background-position: center;
        margin: 0 auto;
    }

    .item-content {
        background-position: center top;

        .item-title {
            display: flex;
            align-items: center;
            flex-flow: row nowrap;
            justify-content: center;
        }

        .item-sub-text {
            display: none;
        }
    }
}

.folder-icon::before {
    font-size: 24px;
    @include Icon($folder);
}

.text-file-icon::before {
    font-size: 24px;
    @include Icon($document);
}

.photo-file-icon::before {
    font-size: 24px;
    @include Icon($image);
}

.pdf-file-icon::before {
    font-size: 24px;
    @include Icon($PDF);
}

.audio-file-icon::before {
    font-size: 24px;
    @include Icon($audio);
}

.video-file-icon::before {
    font-size: 24px;
    @include Icon($video);
}

/*.select-action {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    background-color: $green-dark-base;
    padding: 0px $spacing-31 0px $spacing-21;

    .info-selection {
        display: flex;
        align-items: center;

        .close-btn {
            cursor: pointer;

            &::before {
                font-size: $icon-16;
                @include Icon($close, $pure-white);
            }
        }

        .item-selected {
            margin-left: $spacing-6;

            .move-selected-items-text,
            .item-selected-count,
            .item-selected-text {
                font-size: $font-size-14;
                line-height: $line-height-24;
                font-family: $open-sans-regular;
                letter-spacing: $letter-spacing-02;
                color: $pure-white;
            }
        }
    }

    .right-part {
        display: flex;
        align-items: center;
        justify-content: center;

        .move-icon::before {
            cursor: pointer;
            font-size: 24px;
            @include Icon($move, $pure-white);
        }

        .vertical-option-icon::before {
            cursor: pointer;
            font-size: 20px;
            @include Icon($options-vertical, $pure-white);
            margin-left: $spacing-16;
        }

        .add-folder::before {
            display: none;
            cursor: pointer;
            font-size: 24px;
            @include Icon($create-folder, $pure-white);
        }
    }
}*/