@import '../../Styles/abstracts/_mixins.scss';
@import '../../Styles/abstracts/_variables.scss';
@import '../../Styles/abstracts/_functions.scss';
@import '../../Styles/components/_bit-checkbox.scss';

.list-container {
    height: 100%;
    flex-grow: 2;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

.list-title {
    font-weight: 600;
    font-style: normal;
    font-size: $font-size-18;
    font-family: $montserrat-medium;
    padding-left: $spacing-21;
    margin-bottom: $spacing-16;
    color: color(gray-content1);
    line-height: $line-height-24;
}


.grid-view {
    display: grid;
    grid-gap: 1px;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, 175px);
    grid-template-rows: repeat(auto-fit, 148px);
    justify-content: space-evenly;

    .selected-item {
        background-color: color(gray-bg-primary);
    }
}


.move-files-action {
    padding-right: $spacing-24;

    .item-selected-text,
    .move-icon,
    .vertical-option-icon {
        display: none;
    }

    .move-selected-items-text,
    .add-folder {
        display: inline-block !important;
    }
}

//Item styles
.item-container {
    cursor: pointer;
    position: relative;
    padding: $spacing-4 $spacing-21;
    border-radius: $border-radius-3;

    .item-icon-position {
        font-size: $icon-24;
    }
}

@media (hover: hover) and (pointer: fine) {
    .item-container:hover {
        background-color: color(gray-hover);
    }
}


.item-content {

    .item-title {
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        justify-content: flex-start;

        .pin-badge::before {
            font-size: $icon-20;
            @include Icon($pin, color(gray-content1));
            margin-right: $spacing-8;
        }

        .title-text {
            overflow: hidden;
            font-weight: 400;
            font-style: normal;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: $font-size-16;
            color: color(gray-content1);
            line-height: $line-height-20;
            font-family: $open-sans-regular;
            letter-spacing: $letter-spacing-02;
        }
    }
}

.options-btn {
    cursor: pointer;
    font-size: 24px;
    text-align: center;
}

.extract-btn {
    cursor: pointer;
    font-size: 24px;
    text-align: center;
}

.list-view {
    padding: 16px 0;
}

.list-view-item {
    height: 74px;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    /*    .check-box-position {
        margin-right: 16px;
    }*/

    .icon-box {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .item-icon-position {
            background-color: color(gray-bg-primary);
            width: 42px;
            height: 42px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
        }

        .selected-item-icon {
            background-color: color(gray-bg-secondary);
        }

        .thumbnail-box {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            text-align: center;
            height: 42px;
            width: 42px;

            .img-box {
                position: relative;

                .thumbnail-background {
                    object-fit: cover;
                    height: 42px;
                    width: 42px;
                    filter: blur(2.5px);
                    position: absolute;
                    left: 0;
                    top: 0;
                }

                .thumbnail-img {
                    text-indent: -10000px;
                    object-fit: contain;
                    height: 42px;
                    width: 42px;
                    position: absolute;
                    left: 0;
                    border-radius: 4px;
                }
            }

            .icon-play {
                background-image: url($play-circle);
                background-repeat: no-repeat;
                background-size: 24px;
                background-position: center;
                width: 24px;
                height: 24px;
                position: absolute;
                top: 9px;
                left: 9px;
            }
        }
    }

    .footer-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        overflow: hidden;
    }

    .options-btn::before {
        @include Icon($options-vertical);
    }

    .extract-btn::before {
        @include Icon($extract);
    }

    .item-content {
        flex-grow: 1;
        overflow: hidden;
        padding-left: 16px;

        .title-text {
            overflow: hidden;
            font-weight: 400;
            font-style: normal;
            text-overflow: ellipsis;
            font-size: $font-size-16;
            color: color(gray-content1);
            line-height: $line-height-20;
            font-family: $open-sans-regular;
            letter-spacing: $letter-spacing-02;
            word-wrap: break-word;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            /* number of lines to show */
            line-clamp: 3;
            -webkit-box-orient: vertical;
            white-space: unset;
        }

        .item-sub-text {
            font-weight: 400;
            font-style: normal;
            font-size: $font-size-10;
            color: color(gray-content3);
            line-height: $line-height-14;
            font-family: $open-sans-regular;
            letter-spacing: $letter-spacing-02;
        }
    }
}

.grid-view-item {
    height: 148px;
    max-width: 187px;
    padding: 8px;

    .check-box-position {
        position: absolute;
        z-index: 1;
        top: 9px;
        left: 9px;
    }

    .icon-box {
        background-color: color(gray-bg-primary);
        height: 86px;
        width: 161px;
        position: relative;

        .item-icon-position {
            font-size: $icon-56;

            &::before {
                color: color(gray-content3);
            }
        }

        .thumbnail-box {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            text-align: center;

            .img-box {
                position: relative;

                .thumbnail-background {
                    position: absolute;
                    top: 0;
                    left: 0;
                    object-fit: cover;
                    width: 161px;
                    height: 86px;
                    filter: blur(2.5px);
                }

                .thumbnail-img {
                    text-indent: -10000px;
                    object-fit: contain;
                    position: absolute;
                    width: 161px;
                    height: 86px;
                    left: 0;
                }
            }

            .icon-play {
                background-image: url($play-circle);
                background-repeat: no-repeat;
                background-size: 32px;
                background-position: center;
                width: 32px;
                height: 32px;
                position: absolute;
                top: 27px;
                left: 62px;
            }
        }
    }

    .footer-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 8px;

        .item-content {

            .item-title {
                .disable-space-pinned {
                    width: 137px;
                }

                .space-pinned {
                    width: 109px;
                }
            }
        }
    }


    .options-btn::before {
        @include Icon($options-vertical);
        line-height: 27px;
    }

    .item-icon-position {
        margin: 0 auto;
        text-align: center;
    }

    .item-content {
        background-position: center top;

        .item-title {
            display: flex;
            align-items: center;
            flex-flow: row nowrap;
            justify-content: center;
            max-width: 160px;
            margin-bottom: 2px;
        }

        .item-sub-text {
            display: none;
        }
    }
}

.disable-item {
    background-color: color(disable-item);
    pointer-events: none;

    .icon-box {
        .item-icon-position {
            background-color: color(disable-item-icon);
        }

        .item-icon-position::before {
            color: color(gray-border);
        }
    }

    .footer-box {
        color: color(gray-border);

        .item-content {
            color: color(gray-border);

            .item-title {
                .title-text {
                    color: var(--gray-border);
                }
            }

            .item-sub-text {
                color: color(gray-border);
            }
        }
    }
}

.selected-item {
    background-color: color(gray-bg-primary);
}

.folder-icon::before {
    @include Icon($folder);
}

.text-file-icon::before {
    @include Icon($document);
}

.photo-file-icon::before {
    @include Icon($image);
}

.pdf-file-icon::before {
    @include Icon($PDF);
}

.audio-file-icon::before {
    @include Icon($audio);
}

.video-file-icon::before {
    @include Icon($video);
}

.app-file-icon::before {
    @include Icon($app);
}
/*.select-action {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    background-color: $green-dark-base;
    padding: 0px $spacing-31 0px $spacing-21;

    .info-selection {
        display: flex;
        align-items: center;

        .close-btn {
            cursor: pointer;

            &::before {
                font-size: $icon-16;
                @include Icon($close, $pure-white);
            }
        }

        .item-selected {
            margin-left: $spacing-6;

            .move-selected-items-text,
            .item-selected-count,
            .item-selected-text {
                font-size: $font-size-14;
                line-height: $line-height-24;
                font-family: $open-sans-regular;
                letter-spacing: $letter-spacing-02;
                color: $pure-white;
            }
        }
    }

    .right-part {
        display: flex;
        align-items: center;
        justify-content: center;

        .move-icon::before {
            cursor: pointer;
            font-size: 24px;
            @include Icon($move, $pure-white);
        }

        .vertical-option-icon::before {
            cursor: pointer;
            font-size: 20px;
            @include Icon($options-vertical, $pure-white);
            margin-left: $spacing-16;
        }

        .add-folder::before {
            display: none;
            cursor: pointer;
            font-size: 24px;
            @include Icon($create-folder, $pure-white);
        }
    }
}*/



.position-scroll-btn {
    position: fixed;
    bottom: 95px;
    right: 15px;
    display: none;
}

::deep .fxbutton-content img {
    height: $icon-24 !important;
}

@media only screen and (min-width: 600px) {
    // handle back to top button location in APP
    $a: 50vw;
    $b: 285px;

    .position-scroll-btn {
        position: fixed;
        bottom: 95px;
        right: calc(#{$a} - #{$b});
    }
}

.checkbox {
    margin-right: 16px;
    border: $border-size-1 solid;
    border-radius: $border-radius-4;
    background-color: color(app-bg);
    border-color: color(gray-border);
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox-checked {
    border-color: none;
    background-color: $green-dark-base;
    border: none;

    &::before {
        @include Icon($check, #fff);
        font-size: $font-size-16;
    }
}

.checkbox-display-none {
    display: none;
}