@import "../../Styles//abstracts//_mixins.scss";
@import "../../Styles/abstracts/_variables.scss";
@import "../../Styles/abstracts/_functions.scss";

.fx-avatart::before {
    display: flex;
    @include Icon($avatar, color(gray-bg-secondary), $Icons-Filled);

    .avatar-status {
        position: absolute;
        width: $icon-16;
        height: $icon-16;
        background-size: $icon-16;
        background-repeat: no-repeat;
    }
}

.xsmall-avatar {
    font-size: $icon-16;
}

.small-avatar {
    font-size: $icon-32;

    .avatar-status {
        right: -8px;
        bottom: 0px;
    }
}

.medium-avatar {
    font-size: $icon-48;

    .avatar-status {
        right: -5px;
        bottom: 0px;
    }
}

.large-avatar {
    font-size: $icon-64;

    .avatar-status {
        right: -2px;
        bottom: 2px;
    }
}

.xlarge-avatar {
    font-size: $icon-96;

    .avatar-status {
        right: 2px;
        bottom: 8px;
    }
}

.selected-status {
    background-image: url($selected-status);
}

.deselected-status {
    background-image: url($deselected-status);
}

.edit-status {
    background-image: url($edit-status);
}