@namespace Functionland.FxFiles.Client.Shared.Components

@inherits AppComponentBase;

<div class="back-button @(!string.IsNullOrWhiteSpace(Class) ? Class : "") @(IsEnabled ? "" : "back-button-disable")" @onclick="@OnClick"></div>