@namespace Functionland.FxFiles.Client.Shared.Components

@inherits AppComponentBase;

<div class="fx-breadcrumbs">
    <span class="ellipsis start-ellipsis">...</span>

    @if (BreadcrumbsPath != null)
    {
        @foreach (var path in BreadcrumbsPath)
        {
            <div class="file-path">@path</div>
        }
    }

    <span class="ellipsis end-ellipsis">...</span>
</div>