@import '../../Styles/abstracts/_mixins.scss';
@import '../../Styles/abstracts/_variables.scss';
@import '../../Styles/abstracts/_functions.scss';
@import '../../Styles/abstracts/_media-queries.scss';

.fx-breadcrumbs {
    display: flex;
    align-items: center;
    gap: $spacing-6;
    margin: $spacing-10 $spacing-21;
    white-space: nowrap;
    overflow-x: auto;

    .start-elipse {
        width: 20px;
        position: fixed;
        left: 28px;
        font-size: $font-size-12;
        background-color: color(app-bg);
        display: none;
    }

    &::-webkit-scrollbar {
        height: 4px;
    }
}

.file-path {
    font-family: $open-sans-regular;
    font-size: $font-size-12;
    line-height: $line-height-16;
    letter-spacing: $letter-spacing-02;
    color: color(gray-content2);
    cursor: pointer;
    display: flex;

    &:not(div.file-path:first-of-type):before {
        font-size: $icon-16;
        @include Icon($chevron-right, color(gray-content1));
    }
}
div.file-path:last-of-type {
    font-family: $open-sans-semi-bold;
    color: color(gray-content1);
}

.chaveron-right {
    display: flex;

    &::before {
        font-size: $icon-16;
        @include Icon($chevron-right, color(gray-content1));
    }
}