@namespace Functionland.FxFiles.Client.Shared.Components

@inherits AppComponentBase;

<div class="fx-breadcrumbs">

    <div class="start-elipse">...</div>
    @if (_breadCrumbsPath != null)
    {
        @foreach (var path in _breadCrumbsPath)
        {
            <div class="file-path">@path</div>
        }
    }
</div>