@namespace Functionland.FxFiles.Client.Shared.Components

@inherits AppComponentBase;

<div class="fx-breadcrumbs" @ref="BreadcrumbsRef">
    <span class="ellipsis start-ellipsis">...</span>

    @if (Artifact != null)
    {
        @foreach (var path in GetBreadCrumbsPath(Artifact))
        {
            <div class="file-path">@path</div>
        }
    }

    <span class="ellipsis end-ellipsis">...</span>
</div>