@namespace Functionland.FxFiles.Client.Shared.Components

@inherits AppComponentBase;

<div class="fx-breadcrumbs">
    <span class="start-ellipsis">...</span>

    @if (_breadCrumbsPath != null)
    {
        @foreach (var path in _breadCrumbsPath)
        {
            <div class="file-path">@path</div>
        }
    }

    <span class="end-ellipsis">...</span>
</div>