@import '../../Styles/abstracts/_mixins.scss';
@import '../../Styles/abstracts/_variables.scss';
@import '../../Styles/abstracts/_functions.scss';
@import '../../Styles/abstracts/_media-queries.scss';

.fx-breadcrumbs {
    display: flex;
    align-items: center;
    gap: $spacing-6;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0px 21px 21px;

    .ellipsis {
        font-size: $font-size-12;
        background-color: color(app-bg);
        position: sticky;
        width: 13px;
        color: color(app-bg);
    }

    .start-ellipsis {
        left: 0px;
        display: none;
    }

    .end-ellipsis {
        right: -1px;
    }

    .color-changer {
        color: color(gray-content2);
    }

    &::-webkit-scrollbar {
        height: 4px;
    }
}

.file-path {
    font-family: $open-sans-regular;
    font-size: $font-size-12;
    line-height: $line-height-16;
    letter-spacing: $letter-spacing-02;
    color: color(gray-content2);
}

.file-path:not(div.file-path:first-of-type):before {
    font-size: $icon-16;
    margin-right: $spacing-6;
    vertical-align: middle;
    @include Icon($chevron-right, color(gray-content1));
}

div.file-path:last-of-type {
    font-family: $open-sans-semi-bold;
    color: color(gray-content1);
}