@namespace Functionland.FxFiles.Client.Shared.Components

@inherits AppComponentBase;

<div class="@Source-fx-breadcrumbs fx-breadcrumbs">
    <span class="ellipsis start-ellipsis @Source-start-ellipsis">...</span>

    @if (BreadcrumbsPath != null)
    {
        @foreach (var path in BreadcrumbsPath)
        {
            <div class="file-path">@path</div>
        }
    }

    <span class="ellipsis end-ellipsis @Source-end-ellipsis">...</span>
</div>