@namespace Functionland.FxFiles.Client.Shared.Components

@inherits AppComponentBase;

<div class="fx-breadcrumbs">

    <div class="file-path ellipsis-file-path">Office Blox Unit Amin Asghar Abadi Hashem</div>
    <span class="chaveron-right"></span>

    <div class="file-path">Office Blox Unit</div>
    <span class="chaveron-right"></span>

    <div class="file-path current-path">Ahmad</div>
</div>