@import "../../Styles/abstracts/_variables.scss";
@import "../../Styles/abstracts/_functions.scss";

.fxbutton {
    width: min-content;
    color: $pure-white;
    height: $spacing-40;
    display: grid;
    cursor: pointer;
    overflow: hidden;
    user-select: none;
    text-align: center;
    text-decoration: none;
    font-size: $font-size-14;
    border-radius: $spacing-4;
    padding: $spacing-8 $spacing-16;
    font-family: $open-sans-semi-bold;
    background-color: $green-dark-base;
}

.fxbutton-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fxbutton-content div {
    display: flex;
    align-items: center;
}

.fxbutton-content img {
    width: auto;
    height: $icon-20;
    pointer-events: none;
    background-color: transparent;
}

.fxbutton-lefticon {
    margin-right: 10px;
}

.fxbutton-righticon {
    margin-left: 10px;
}

.fxbutton-text {
    align-self: center;
    min-width: fit-content;
}

.fxbutton-metadata {
    line-height: $line-height-14;
    font-size: $font-size-10;
    margin-left: 10px;
}

.fxbutton-normal {
    color: $pure-white;
    justify-content: center;
    background-color: $green-dark-base !important;
}

.fxbutton-normal:hover {
    background: $green-dark-hover !important;
}

.fxbutton-normal:active {
    background: $green-dark-pressed !important;
}


.fxbutton-outline {
    color: $green-dark-base !important;
    border: 1px solid $green-dark-base !important;
    background-color: transparent !important;
}

.fxbutton-menuline {
    width: auto;
    margin: 4px 21px;
    height: 60px;
    color: color(gray-content1) !important;
    border: none !important;
    background-color: color(gray-bg-primary) !important;
}

.fxbutton-menuline:active {
    background-color: color(gray-bg-secondary) !important;
}

.fxbutton-menuline .fxbutton-content {
    justify-content: space-between;
}

.fxbutton-sheetmenu {
    margin: 0;
    padding: 0;
    width: auto;
    height: 48px;
    border-radius: 0;
    color: color(gray-content1) !important;
    background-color: transparent !important;
}

.fxbutton-sheetmenu .fxbutton-content {
    margin: 0px;
    justify-content: space-between;
    border-bottom: 1px solid color(gray-bg-secondary);
}

.fxbutton-icononly {
    padding: 8px;
    width: 40px;

    .fxbutton-lefticon, .fxbutton-righticon {
        margin: 0;
    }
}

.fxbutton-disabled {
    background-color: color(gray-bg-secondary);
    border: none !important;
    color: color(input-disable) !important;
    opacity: .5;
    pointer-events: none !important;
}

.fxbutton-icononly:hover {
    background: $green-dark-hover !important;
}

.fxbutton-icononly:active {
    background: $green-dark-pressed !important;
}

.fxbutton-small {
    height: $spacing-40 !important;
    width: $spacing-80 !important;
}

.fxbutton-large {
    height: 60px !important;
    width: $spacing-80 !important;
}

.fxbutton-stretch {
    height: $spacing-40 !important;
    width: 100% !important;
}