@namespace Functionland.FxFiles.Client.Shared.Components

@inherits AppComponentBase;

<div class="divider-@(FxDividerSize.ToString().ToLower()) divider-@(FxDividerType.ToString().ToLower()) divider-@(FxDividerMode.ToString().ToLower())"></div>
