@import '../../Styles/abstracts/_variables.scss';
@import '../../Styles/abstracts/_functions.scss';
@import '../../Styles/abstracts/_mixins.scss';
@import '../../Styles/components/_bit-progress-indicator.scss';

.progress-container {

    .title {
        color: color(gray-content1);
        font-family: $montserrat-semi-bold;
        font-size: $font-size-18;
        line-height: $line-height-24;
    }

    .main-content {
        
    }
}