@namespace Functionland.FxFiles.Client.Shared.Components

@inherits AppComponentBase;

<label id="@Id" class="container">
    @Title
    <input type="radio" id="@Id" checked="@Checked" name="@InputName" />
    <span class="checkmark"></span>
</label>
