@namespace Functionland.FxFiles.Client.Shared.Components

@inherits AppComponentBase;

<div style="width: @Width;" class="tag-label-container">
    <div class="tag-title">@Title</div>
    <div class="@(string.Format(" {0}-icon-tag", TagType).ToLower())"></div>
</div>
