@namespace Functionland.FxFiles.Client.Shared.Components

@inherits AppComponentBase;

<h3>FxTextareaInput</h3>
<label class="label-text-area">@Localizer[nameof(AppStrings.TextAreaLabel)]</label>
<textarea class="text-area-input" placeholder="@Localizer[nameof(AppStrings.TextAreaPlaceholder)]"></textarea>
<div class="error-message">@Localizer[nameof(AppStrings.ErrorMessage)]</div>