@import "../../Styles/abstracts/_variables.scss";
@import "../../Styles/abstracts/_functions.scss";


.label-input {
    color: color(gray-content1);
    font-family: $open-sans-regular;
    font-style: normal;
    font-size: $font-size-14;
    line-height: $line-height-24;
    letter-spacing: $letter-spacing-02;
    display: block;
}

.field-question-input {
    color: color(gray-content2);
    font-family: $open-sans-light;
    font-style: normal;
    font-size: $font-size-12;
    line-height: $line-height-16;
    letter-spacing: $letter-spacing-02;
    max-width: $spacing-333;
}

.text-input {
    height: $font-size-52;
    background-color: inherit;
    color: color(gray-content1);
    font-family: $open-sans-regular;
    font-style: normal;
    font-size: $font-size-14;
    line-height: $line-height-24;
    letter-spacing: $letter-spacing-02;
    outline: none;
    border: solid $border-size-1;
    border-color: color(gray-border);
    border-radius: $border-size-4;
    padding: $spacing-14 $spacing-21;
    margin: $spacing-8 $letter-spacing-0;
    width: 100%;

    &::placeholder {
        color: color(gray-content1)
    }
}

input:focus {
    border: 1px solid #038082;
    transition: all 200ms linear;
    background-color: color(gray-bg-primary);
}



.text-input:active {
    color: color(gray-content3);
    background-color: color(gray-bg-primary);
    border-color: $green-light-pressed;
    transition: all 200ms linear;
}

.text-input-disable {
    background-color: color(gray-bg-primary);
    border-color: color(gray-border);
    color: color(input-disable);

    &::placeholder {
        color: color(input-disable);
    }
}

.text-input-error {
    border-color: color(error);
    background-color: inherit;

    &::placeholder {
        color: color(gray-content3);

    }
}

.error-message {
    color: color(error);
    font-family: $open-sans-regular;
    font-style: normal;
    font-size: $font-size-12;
    line-height: $line-height-16;
    letter-spacing: $letter-spacing-02;
    padding-left: $spacing-16;
    background-image: url($error-message);
    background-size: $icon-12;
    background-position: center left;
    background-repeat: no-repeat;
}