@namespace Functionland.FxFiles.Client.Shared.Components
@inherits AppComponentBase

<div class="loading-container @(string.Format(" {0}-loading", LoadingType).ToLower())">
    <div>
        <div class="fx-loading-dots-ring"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
</div>