@namespace Functionland.FxFiles.Client.Shared.Components
@inherits AppComponentBase

<style>
    body {
        overflow: @(ZIndex != "0" ? "hidden" : "scroll");
    }
</style>

<div class="loading-container">
    <div>
        <div class="fx-loading-dots-ring"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
</div>