@namespace Functionland.FxFiles.Client.Shared.Components
@inherits AppComponentBase

<div class="loading-container">
    <div>
        <div class="fx-loading-dots-ring"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
    
</div>