@import "../abstracts/_variables.scss";
@import "../abstracts/_functions.scss";

::deep .bit-acd.bit-acd-fluent {
    border: none;
    padding: $spacing-0;
    color: color(gray-content1);
    background-color: transparent;
    margin: $spacing-0 $spacing-0 $spacing-16;
}

::deep .bit-acd .intro {
    flex-grow: 0;
}

.bit-acd .intro .title {
    font-size: $font-size-18;
}

::deep .bit-acd .header {
    font-family: $montserrat-medium;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: $spacing-16 $spacing-21;
    margin: 0;
}

::deep .bit-acd .header.expanded .header-icon {
    transition: .2s;
    font-weight: bold;
    font-size: $font-size-18;
    transform: rotate(360deg);
}

::deep .bit-acd .header.collapsed {
    font-family: $montserrat-semi-bold;
    font-size: $font-size-18;
    line-height: $line-height-24;
}

::deep .bit-acd .header.collapsed .header-icon {
    transition: .2s;
    font-weight: bold;
    transform: rotate(270deg);
}

::deep .bit-acd .content.collapsed {
    display: none;
}

::deep .bit-acd .content.expanded {
    display: inline-grid;
    padding: $spacing-8 $spacing-0;
    margin: $spacing-0;
}

::deep .bit-acd .content.expanded::-webkit-scrollbar {
    height: 6px;
}

::deep .bit-acd .content.expanded .items {
    display: flex;
    overflow-y: unset;
    max-height: 230px;
    flex-direction: row;
    white-space: nowrap;
    scroll-behavior: smooth;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    padding: 0 $spacing-16;
}

::deep .bit-acd .title-description-wrapper .title {
    font-family: $montserrat-semi-bold;
    font-size: $font-size-18;
    line-height: $line-height-24;
}

::deep .pin-empty-style {
    .header {

        .title-description-wrapper {
            .title {
                color: color(input-disable);
                font-family: $montserrat-semi-bold;
                font-size: $font-size-18;
                line-height: $line-height-24;
            }
        }

        .header-icon {
            color: color(input-disable);
        }
    }
}