@page "/onboarding/welcome-page"
@inherits AppComponentBase;

<section class="welcome-page">
    <div class="welcome-desc-container">
        <div class="welcome-text">WELCOME</div>
        <div class="connect-text">Connect to Fula</div>
        <div class="connect-desc">Et ex nam hic qui minima neque dolore sunt repellendus. Commodi explicabo qui.</div>
    </div>

    <div class="file-sync-logo"></div>

    <FxButton 
        ButtonStyle="FxButtonStyle.Normal"
        HorizontalTextAlignment="FxButtonTextAlignment.Center"
        Text="Get started (Connect to wallet)"
        Height="60px"
        Width="100%"
        Class="get-started-btn"/>
</section>
