@namespace Functionland.FxFiles.App.Components
@using Functionland.FxFiles.App.Components.Common
@inherits AppComponentBase

<h3>ArtifactExplorer</h3>

@if (IsInRoot(CurrentArtifact))
{
}
else 
{
    
    <div>Folder: @CurrentArtifact?.Name</div>
}

<FxListView 
    ListTitle="@CurrentArtifact?.Name" 
    HasSearchInput="@IsInRoot(CurrentArtifact)" 
    ListItems="@Artifacts.Select(a=>new ListItemConfig(a.Name, a.Name, false, "folder")).ToList()">

</FxListView>
@*@foreach(var artifact in Artifacts)
{
    // render artifact
    <div @onclick="() => HandleArtifactClick(artifact)">@artifact.Name</div>
}*@