@namespace Functionland.FxFiles.App.Components
@inherits AppComponentBase;

<div class="mydevice-content">
    @if (IsInRoot(_currentArtifact))
    {
        <ToolBar IsMainToolBar="true" />

        <BitAccordion Title="Pinned" DefaultIsExpanded="true">
            <ContentTemplate>
                <div class="items">
                    @foreach (var cardConfig in _pins)
                    {
                        @*<FileCard CardConfig="cardConfig" />*@
                    }
                </div>
            </ContentTemplate>
        </BitAccordion>
    }
    <ArtifactExplorer Artifacts="_artifacts"
                      CurrentArtifact="_currentArtifact"
                      OnSelectArtifact="HandleSelectArtifact"
                      OnArtifactsOptionsClick="HandleOptionsArtifact"
                      OnMultiArtifactsOptionsClick="HandleSelectedArtifactsOptions" />
</div>

<ArtifactSelectionModal @ref="_artifactSelectionModalRef" />
<ArtifactOverflowModal @ref="_asm"/>
<ConfirmationReplaceOrSkipModal @ref="_ConfirmationReplaceOrSkipModalRef" />