@namespace Functionland.FxFiles.App.Components
@using Functionland.FxFiles.App.Components.FxToolBar
@inherits AppComponentBase

<div class="file-browser-container">
    <FxToolBar IsInRoot="IsInRoot(_currentArtifact)"
               OnSearch="HandleSearch"
               OnSearchFocused="HandleSearchFocused"
               IsInSearchMode="_isInSearchMode"
               OnBackClick="HandleToolbarBackClick" />

    @if (IsInRoot(_currentArtifact) && _isInSearchMode is false)
    {
        <BitAccordion Title="Pinned" DefaultIsExpanded="true">
            <ContentTemplate>
                <div class="items">
                    @foreach (var cardConfig in _pins)
                    {
                        @*<FileCard CardConfig="cardConfig" />*@
                    }
                </div>
            </ContentTemplate>
        </BitAccordion>
    }

    @if (_isInSearchMode is false || string.IsNullOrWhiteSpace(_searchText) is false)
    {
        <ArtifactExplorer Artifacts="_filteredArtifacts"
                      CurrentArtifact="_currentArtifact"
                      OnSelectArtifact="HandleSelectArtifact"
                      OnArtifactsOptionsClick="HandleOptionsArtifact"
                      OnMultiArtifactsOptionsClick="HandleSelectedArtifactsOptions"
                      OnFilterClick="HandleFilterClick" />
    }
</div>

<ArtifactSelectionModal @ref="_artifactSelectionModalRef" />
<ArtifactOverflowModal @ref="_artifactOverflowModalRef" />
<ConfirmationReplaceOrSkipModal @ref="_confirmationReplaceOrSkipModalRef" />
<ToastModal @ref="_toastModalRef" />
<FilterArtifactModal @ref="_filteredArtifactModalRef" />