@namespace Functionland.FxFiles.App.Components

@inherits AppComponentBase;

@using Functionland.FxFiles.App.Components.FxToolBar

<div class="file-browser-container">
    <FxToolBar IsInRoot="IsInRoot(_currentArtifact)" />
    @if (IsInRoot(_currentArtifact))
    {
        <BitAccordion Title="Pinned" DefaultIsExpanded="true">
            <ContentTemplate>
                <div class="items">
                    @foreach (var cardConfig in _pins)
                    {
                        @*<FileCard CardConfig="cardConfig" />*@
                    }
                </div>
            </ContentTemplate>
        </BitAccordion>
    }
    <ArtifactExplorer Artifacts="_artifacts"
                      CurrentArtifact="_currentArtifact"
                      OnSelectArtifact="HandleSelectArtifact" />
</div>