// variables & functions
@import '../Styles/abstracts/_variables.scss';
@import '../Styles/abstracts/_functions.scss';

// utilities

//Shared==============================================

html {
    user-select: none;
    -webkit-user-select: none;
    overscroll-behavior: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: $open-sans-regular;
    -webkit-tap-highlight-color: transparent;

    @each $key, $value in $colors-light {
        --#{$key}: #{$value};
    }

    background-color: $gray-light-bg-primary;
}

body[data-theme="Dark"] {
    @each $key, $value in $colors-dark {
        --#{$key}: #{$value};
    }

    background-color: $main-dark;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background-color: color(gray-bg-primary);
    border-radius: 6px;
}

*::-webkit-scrollbar-thumb {
    background-color: color(gray-bg-secondary);
    border-radius: 6px;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    font-family: $montserrat-semi-bold;
}

h6 {
    margin: 0;
    font-size: 10px;
    font-family: $montserrat-medium;
}

p {
    margin: 0;
}
