// variables & functions
@import '../Styles/abstracts/_variables.scss';
@import '../Styles/abstracts/_functions.scss';

// utilities

//Shared==============================================


html, body {
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-user-select: none;
    overscroll-behavior: none;
    font-family: $open-sans-regular;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
    height: 100vh;

    @each $key, $value in $colors-light {
        --#{$key}: #{$value};
    }

    background-color: $gray-light-bg-primary;
}

html, body[data-theme="Dark"] {
    @each $key, $value in $colors-dark {
        --#{$key}: #{$value};
    }

    background-color: $main-dark;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background-color: color(gray-bg-primary);
    border-radius: 6px;
}

*::-webkit-scrollbar-thumb {
    background-color: color(gray-bg-secondary);
    border-radius: 6px;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    font-family: $montserrat-semi-bold;
}

h6 {
    margin: 0;
    font-size: 10px;
    font-family: $montserrat-medium;
}

p {
    margin: 0;
}

input[type=checkbox] {
    scale: 1.6;
    pointer-events: none;
    accent-color: $green-dark-base;
}

/*.fx-basic-page1 {
     transform: scaley(0);
    transform-origin: top;
    transition: transform 600ms linear;
}*/

.fx-basic-page {
    height: 0;
    padding-bottom: 81px;
    overflow: hidden;
    //transition: height 150ms linear;
}

/*.fx-page-open-mode1 {
    transform: scaleY(1);
    height: 100vh;
}*/

.fx-page-open-mode {
    height: 100vh;
}