@namespace Functionland.FxFiles.App.Components.Modal
@inherits AppComponentBase;

<h3>ConfirmationModal</h3>

<FxBottomSheet ShowCloseButton="true" @bind-IsOpen="_isModalOpen" OnClose="Close" IsFullScreenMode="false">
    @*TODO:Impediment UI*@
</FxBottomSheet>