@import '../Styles/abstracts/_variables.scss';
@import '../Styles/abstracts/_functions.scss';

footer {
    bottom: 0;
    z-index: 99;
    width: 100%;
    height: 81px;
    position: sticky;
    color: color(gray-content3);
    background-color: color(app-bg);
}

.navbarApp {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-top: 1px solid color(gray-bg-secondary);
}

.navbarApp__wrapper {
    display: flex;
    justify-content: space-around;
}

::deep .navbarApp-link {
    display: flex;
    color: #6F767D;
    padding: 16px 6px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    flex-direction: column;
    pointer-events: none;
}

::deep .navbarApp-link.active {
    color: $green-dark-base;
}

.navbarApp-linkLabel {
    margin-top: 8px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.navbarApp-linkLabel > span {
    display: none;
    margin-right: 8px;
}

@media(hover: hover) and (pointer: fine) {
    ::deep .navbarApp-link:hover {
        color: $green-dark-hover;
    }
}