@inherits AppComponentBase;

<footer>
    <div class="navbarApp">
        <nav class="navbarApp__wrapper">
@*            <div class="navbarApp-item">
                <NavLink draggable="false" class="navbarApp-link" href="/" Match="NavLinkMatch.All">
                    <svg class="navbarApp-linkIcon" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.875 2.28125C7.46079 2.28125 7.125 2.61704 7.125 3.03125C7.125 3.44546 7.46079 3.78125 7.875 3.78125H17.875C18.2892 3.78125 18.625 3.44546 18.625 3.03125C18.625 2.61704 18.2892 2.28125 17.875 2.28125H7.875ZM5.125 6.82812C5.125 6.41391 5.46079 6.07812 5.875 6.07812H19.875C20.2892 6.07812 20.625 6.41391 20.625 6.82812C20.625 7.24234 20.2892 7.57812 19.875 7.57812H5.875C5.46079 7.57812 5.125 7.24234 5.125 6.82812ZM20.875 11.375H4.875C4.59886 11.375 4.375 11.5989 4.375 11.875V19.7188C4.375 19.9949 4.59886 20.2188 4.875 20.2188H20.875C21.1511 20.2188 21.375 19.9949 21.375 19.7188V11.875C21.375 11.5989 21.1511 11.375 20.875 11.375ZM4.875 9.875C3.77043 9.875 2.875 10.7704 2.875 11.875V19.7188C2.875 20.8233 3.77043 21.7188 4.875 21.7188H20.875C21.9796 21.7188 22.875 20.8233 22.875 19.7188V11.875C22.875 10.7704 21.9796 9.875 20.875 9.875H4.875Z" fill="currentColor" />
                    </svg>
                    <span class="navbarApp-linkLabel">@Localizer[nameof(AppStrings.Files)]</span>
                </NavLink>
            </div>*@
            <div class="navbarApp-item">
                <NavLink draggable="false" class="navbarApp-link" href="/" Match="NavLinkMatch.All">
                    <svg class="navbarApp-linkIcon" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8.375 3.5H16.875C17.1511 3.5 17.375 3.72386 17.375 4V20C17.375 20.2761 17.1511 20.5 16.875 20.5H8.375C8.09886 20.5 7.875 20.2761 7.875 20V4C7.875 3.72386 8.09886 3.5 8.375 3.5ZM6.375 4C6.375 2.89543 7.27043 2 8.375 2H16.875C17.9796 2 18.875 2.89543 18.875 4V20C18.875 21.1046 17.9796 22 16.875 22H8.375C7.27043 22 6.375 21.1046 6.375 20V4ZM12.625 19.3438C13.2291 19.3438 13.7188 18.8541 13.7188 18.25C13.7188 17.6459 13.2291 17.1562 12.625 17.1562C12.0209 17.1562 11.5312 17.6459 11.5312 18.25C11.5312 18.8541 12.0209 19.3438 12.625 19.3438Z" fill="currentColor" />
                    </svg>
                    <span class="navbarApp-linkLabel">@Localizer[nameof(AppStrings.MyDevice)]</span>
                </NavLink>
            </div>
@*            <div class="navbarApp-item">
                <NavLink draggable="false" class="navbarApp-link" href="zones">
                    <svg class="navbarApp-linkIcon" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M20.875 12C20.875 16.6944 17.0694 20.5 12.375 20.5C7.68058 20.5 3.875 16.6944 3.875 12C3.875 7.30558 7.68058 3.5 12.375 3.5C17.0694 3.5 20.875 7.30558 20.875 12ZM22.375 12C22.375 17.5228 17.8978 22 12.375 22C6.85215 22 2.375 17.5228 2.375 12C2.375 6.47715 6.85215 2 12.375 2C17.8978 2 22.375 6.47715 22.375 12ZM12.375 9.98438C13.4796 9.98438 14.375 9.08894 14.375 7.98438C14.375 6.87981 13.4796 5.98438 12.375 5.98438C11.2704 5.98438 10.375 6.87981 10.375 7.98438C10.375 9.08894 11.2704 9.98438 12.375 9.98438ZM16.375 16C17.4796 16 18.375 15.1046 18.375 14C18.375 12.8954 17.4796 12 16.375 12C15.2704 12 14.375 12.8954 14.375 14C14.375 15.1046 15.2704 16 16.375 16ZM10.375 14C10.375 15.1046 9.47957 16 8.375 16C7.27043 16 6.375 15.1046 6.375 14C6.375 12.8954 7.27043 12 8.375 12C9.47957 12 10.375 12.8954 10.375 14Z" fill="currentColor" />
                    </svg>
                    <span class="navbarApp-linkLabel">@Localizer[nameof(AppStrings.Zones)]</span>
                </NavLink>
            </div>*@
            <div class="navbarApp-item">
                <NavLink draggable="false" class="navbarApp-link" href="settings">
                    <svg class="navbarApp-linkIcon" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.625 6C10.625 6.82843 9.95343 7.5 9.125 7.5C8.29657 7.5 7.625 6.82843 7.625 6C7.625 5.17157 8.29657 4.5 9.125 4.5C9.95343 4.5 10.625 5.17157 10.625 6ZM12.0305 6.75C11.6975 8.04392 10.5229 9 9.125 9C7.72712 9 6.55255 8.04392 6.21951 6.75H4.125C3.71079 6.75 3.375 6.41421 3.375 6C3.375 5.58579 3.71079 5.25 4.125 5.25H6.21951C6.55255 3.95608 7.72712 3 9.125 3C10.5229 3 11.6975 3.95608 12.0305 5.25H20.125C20.5392 5.25 20.875 5.58579 20.875 6C20.875 6.41421 20.5392 6.75 20.125 6.75H12.0305ZM4.125 11.25C3.71079 11.25 3.375 11.5858 3.375 12C3.375 12.4142 3.71079 12.75 4.125 12.75H13.2195C13.5525 14.0439 14.7271 15 16.125 15C17.5229 15 18.6975 14.0439 19.0305 12.75H20.125C20.5392 12.75 20.875 12.4142 20.875 12C20.875 11.5858 20.5392 11.25 20.125 11.25H19.0305C18.6975 9.95608 17.5229 9 16.125 9C14.7271 9 13.5525 9.95608 13.2195 11.25H4.125ZM3.375 18C3.375 17.5858 3.71079 17.25 4.125 17.25H5.21951C5.55255 15.9561 6.72712 15 8.125 15C9.52288 15 10.6975 15.9561 11.0305 17.25H20.125C20.5392 17.25 20.875 17.5858 20.875 18C20.875 18.4142 20.5392 18.75 20.125 18.75H11.0305C10.6975 20.0439 9.52288 21 8.125 21C6.72712 21 5.55255 20.0439 5.21951 18.75H4.125C3.71079 18.75 3.375 18.4142 3.375 18ZM16.125 13.5C16.9534 13.5 17.625 12.8284 17.625 12C17.625 11.1716 16.9534 10.5 16.125 10.5C15.2966 10.5 14.625 11.1716 14.625 12C14.625 12.8284 15.2966 13.5 16.125 13.5ZM9.625 18C9.625 18.8284 8.95343 19.5 8.125 19.5C7.29657 19.5 6.625 18.8284 6.625 18C6.625 17.1716 7.29657 16.5 8.125 16.5C8.95343 16.5 9.625 17.1716 9.625 18Z" fill="currentColor" />
                    </svg>
                    <span class="navbarApp-linkLabel">@Localizer[nameof(AppStrings.Settings)]</span>
                </NavLink>
            </div>
        </nav>
    </div>
</footer>