@import '../Styles/abstracts/_variables.scss';
@import '../Styles/abstracts/_functions.scss';

.empty-list-view {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: $spacing-120 $spacing-21;
}

.empty-list-title {
    font-family: $open-sans-regular;
    font-style: normal;
    font-size: $font-size-14;
    line-height: $line-height-24;
    letter-spacing: $letter-spacing-02;
    color: color(gray-content1);
    margin-bottom: $spacing-24;
}

.buttons-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
