@import "../Styles/abstracts/_variables.scss";
@import "../Styles/abstracts/_functions.scss";

.file-card-container {
    width: 252px;
    height: 216px;

    .file-card-media {
        height: 146px;
        position: relative;
        background-color: color(gray-border);
        background-position: center;
        border-radius: $border-radius-4 $border-radius-4 0px 0px;

        .tag-wrapper {
            position: absolute;
            bottom: 8px;
            left: 8px;
        }

        .file-card-image {
            padding: 16px 21px;
            width: 100%;
            height: 100%;
        }

        .pin-defualt-icon::before {
            font-size: $icon-20;
            @include Icon($pin, color(gray-content1), $Icons-Filled);
            position: absolute;
            top: 10.28px;
            right: 10.28px;
            cursor: pointer;
        }
    }

    .file-card-content {
        background-color: color(gray-bg-primary);
        padding: $spacing-16;
        border-radius: 0px 0px $border-radius-4 $border-radius-4;

        .card-file-name {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .file-icon::before {
                font-size: $font-size-16;
                @include Icon($folder, color(gray-content1));
            }

            .file-name-container {
                margin-left: $spacing-6;
                display: flex;
                color: color(gray-content1);

                .file-format,
                .file-name {
                    display: inline-block;
                    font-family: $open-sans-regular;
                    font-size: $font-size-14;
                    line-height: $line-height-24;
                    letter-spacing: $letter-spacing-02;
                    color: color(gray-content1);
                }

                .file-name {
                    max-width: 162px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }

        .file-info {
            font-family: $open-sans-regular;
            font-size: $font-size-10;
            line-height: $line-height-14;
            letter-spacing: $letter-spacing-02;
            color: color(gray-content3);

            .modified-date {
                display: inline-block;
            }
        }
    }
}

.favorite {
    //pin filled mode
    .pin-defualt-icon {
        background-image: url($pin-filled) !important;
    }
}

.pressed-card {
    .file-card-content {
        background-color: color(gray-bg-secondary);
    }
}

.disabled-card {
    .file-card-content {
        background-color: color(gray-bg-primary);

        .file-name-container,
        .file-name-container span,
        .file-info {
            color: color(gray-border) !important;
        }

        .file-icon::before {
            @include Icon($folder, color(gray-border));
        }
    }
}