@import '../Styles/abstracts/_variables.scss';
@import '../Styles/abstracts/_functions.scss';
@import '../Styles/abstracts/_media-queries.scss';
@import '../Styles/abstracts/_mixins.scss';



.content-body {
    margin: $spacing-21 $spacing-0;
    max-height: 100%;
    overflow-y: auto;

    .image-icon-row {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: color(gray-border);
        height: 254px;
        margin-bottom: $spacing-16;
        margin-top: $spacing-18;
        position: relative;

        .image-container {
            max-width: 100%;
            max-height: 254px;

            .file-image-preview {
                max-width: 100%;
                max-height: 254px;
            }

            .image-file-icon::before {
                position: absolute;
                top: $spacing-8;
                left: $spacing-21;
                font-size: 32px;
                @include Icon($image);
            }
        }
    }

    .file-icon-row {
        padding: $spacing-8 $spacing-0;

        .folder-file-icon::before {
            font-size: 32px;
            @include Icon($folder);
        }

        .text-file-icon::before {
            font-size: 32px;
            @include Icon($document);
        }

        .image-file-icon::before {
            font-size: 32px;
            @include Icon($image);
        }

        .pdf-file-icon::before {
            font-size: 32px;
            @include Icon($PDF);
        }

        .audio-file-icon::before {
            font-size: 32px;
            @include Icon($audio);
        }

        .video-file-icon::before {
            font-size: 32px;
            @include Icon($video);
        }

        .other-file-icon::before {
            font-size: 32px;
            @include Icon($document);
        }
    }

    .file-name-row {

        .file-name-text {
            margin: $letter-spacing-0;
            font-size: $font-size-20;
            font-family: $open-sans-regular;
            line-height: $line-height-30;
            color: color(gray-content1);
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .file-details-area {
        padding: $spacing-21 $spacing-0 $spacing-56;
    }

    .bottom-body {
        padding: $spacing-10 $spacing-0;

        .close-btn-bottom-action {
            margin-top: $spacing-16;
        }
    }
}

/* core css */
/* -------------- */

.row {
    display: flex;
    flex-direction: row;

    &.reversed-order {
        flex-direction: row-reverse;
    }
}

.column {
    display: flex;
    flex-direction: column;

    &.reversed-order {
        flex-direction: column-reverse;
    }
}

.row.items-start, .column.items-start {
    align-items: flex-start;
}

.row.justify-start, .column.justify-start {
    justify-content: flex-start;
}

.row.content-start, .column.content-start {
    align-content: flex-start;
}

.row.items-center, .column.items-center {
    align-items: center;
}

.row.justify-center, .column.justify-center {
    justify-content: center;
}

.row.content-center, .column.content-center {
    align-content: center;
}

.row.items-end, .column.items-end {
    align-items: flex-end;
}

.row.justify-end, .column.justify-end {
    justify-content: flex-end;
}

.row.content-end, .column.content-end {
    align-content: flex-end;
}

.row.items-stretch, .column.items-stretch {
    align-items: stretch;
}

.row.justify-stretch, .column.justify-stretch {
    justify-content: stretch;
}

.row.content-stretch, .column.content-stretch {
    align-content: stretch;
}

.row.items-baseline, .column.items-baseline {
    align-items: baseline;
}

.row.justify-baseline, .column.justify-baseline {
    justify-content: baseline;
}

.row.content-baseline, .column.content-baseline {
    align-content: baseline;
}

.row .wrap, .column .wrap {
    flex-wrap: wrap;
}

.row .reversed-wrap, .column .reversed-wrap {
    flex-wrap: wrap-reverse;
}

.row .no-wrap, .column .no-wrap {
    flex-wrap: nowrap;
}

.fill {
    flex-grow: 1;
    flex-shrink: 0;
}

.cursor-pointer {
    cursor: pointer;
}

.vertical-file-detail-item {
    display: flex;
    overflow-x: scroll;
    gap: $spacing-8;

    &::-webkit-scrollbar {
        height: 6px;
    }
}

.disable-vertical-scroll {
    overflow-y: hidden;
}

.width-and-height-detail-item {
    width: 333px;
    height: 300px;
}

.folder-icon::before {
    font-size: 24px;
    @include Icon($folder);
}

.text-file-icon::before {
    font-size: 24px;
    @include Icon($document);
}

.photo-file-icon::before {
    font-size: 24px;
    @include Icon($image);
}

.pdf-file-icon::before {
    font-size: 24px;
    @include Icon($PDF);
}

.audio-file-icon::before {
    font-size: 24px;
    @include Icon($audio);
}

.video-file-icon::before {
    font-size: 24px;
    @include Icon($video);
}
