@import '../Styles/abstracts/_variables.scss';
@import '../Styles/abstracts/_functions.scss';


.bottom-navigations {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $spacing-0;
    gap: $spacing-18;
}
