@import "../Styles/abstracts/_functions.scss";
@import "../Styles/abstracts/_variables.scss";

.loading-container {
    height: 100%;
    max-width: 600px;
    width: 100%;
    z-index: 3;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    .loading-icon {
        width: $icon-64;
        height: $icon-64;
        
        background: {
            image: url("images/Loading/loading.svg");
            repeat: no-repeat;
            size: $icon-64;
            position: center;
        }
    }
}

.artifact-item-loading {
    background-position: center 40%;
}