@import "../Styles/abstracts/_variables.scss";
@import "../Styles/abstracts/_functions.scss";
@import "../Styles/abstracts/_mixins.scss";


.loading-container {
    background-color: color(app-bg);
}
