@import '../../Styles/abstracts/_variables.scss';
@import '../../Styles/abstracts/_functions.scss';
@import '../../Styles/abstracts/_media-queries.scss';

.sheet {
    height: 0;
}

.close-bottom-sheet-animation {
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-name: closeBottomSheet;
    animation-timing-function: ease-in-out;
}

@keyframes closeBottomSheet {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(100%);   
    }
}

.show-bottom-sheet-animation {
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-name: showBottomSheet;
    animation-timing-function: ease-in-out;
}

@keyframes showBottomSheet {
    0% {    
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0px);
        height: unset;
    }
}

.close-button {
    padding: 0;
    cursor: pointer;
    background-color: transparent;

    .close-button-icon {
        width: $icon-24;
        height: $icon-24;
    }
}

.sheet {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    position: fixed;
    visibility: visible;
    transition: opacity 0.5s, visibility 0.5s;

    &[aria-hidden="true"] {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .overlay {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        opacity: 0.5;
        position: absolute;
        background: #888888;
    }

    .contents {
        width: 100%;
        max-height: 100vh;
        position: relative;
        overflow-y: hidden;
        padding: $spacing-0 $spacing-21;
        box-sizing: border-box;
        transform: translateY(0);
        max-width: $screen-lg-min;
        background-color: color(app-bg);
        transition: transform 0.5s, border-radius 0.5s;
        border-radius: $border-radius-20 $border-radius-20 $letter-spacing-0 $letter-spacing-0;

        &:not(.not-selectable) {
            transition: transform 0.5s, border-radius 0.5s, height 0.5s;
        }

        &.fullscreen {
            border-radius: $border-size-0;
        }

        .controls {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: $spacing-24;
            padding: $spacing-8 $spacing-0;
        }
    }

    &[aria-hidden="true"] .contents {
        transform: translateY(100%);
    }

    .close-sheet {
        height: $spacing-24;
        width: $spacing-24;
        margin-left: auto;
        border: none;
        padding: 0;
        right: 0;
        top: 0;
    }

    .full-screen-sheet {
        width: 100%;
        max-width: none;
        height: 100%;
        border-radius: 0;
    }
}

/* core css */

.row {
    display: flex;
    flex-direction: row;

    &.reversed-order {
        flex-direction: row-reverse;
    }
}

.column {
    display: flex;
    flex-direction: column;

    &.reversed-order {
        flex-direction: column-reverse;
    }
}

.row.items-start, .column.items-start {
    align-items: flex-start;
}

.row.justify-start, .column.justify-start {
    justify-content: flex-start;
}

.row.content-start, .column.content-start {
    align-content: flex-start;
}

.row.items-center, .column.items-center {
    align-items: center;
}

.row.justify-center, .column.justify-center {
    justify-content: center;
}

.row.content-center, .column.content-center {
    align-content: center;
}

.row.items-end, .column.items-end {
    align-items: flex-end;
}

.row.justify-end, .column.justify-end {
    justify-content: flex-end;
}

.row.content-end, .column.content-end {
    align-content: flex-end;
}

.row.items-stretch, .column.items-stretch {
    align-items: stretch;
}

.row.justify-stretch, .column.justify-stretch {
    justify-content: stretch;
}

.row.content-stretch, .column.content-stretch {
    align-content: stretch;
}

.row.items-baseline, .column.items-baseline {
    align-items: baseline;
}

.row.justify-baseline, .column.justify-baseline {
    justify-content: baseline;
}

.row.content-baseline, .column.content-baseline {
    align-content: baseline;
}

.row .wrap, .column .wrap {
    flex-wrap: wrap;
}

.row .reversed-wrap, .column .reversed-wrap {
    flex-wrap: wrap-reverse;
}

.row .no-wrap, .column .no-wrap {
    flex-wrap: nowrap;
}

.fill {
    flex-grow: 1;
    flex-shrink: 0;
}

.cursor-pointer {
    cursor: pointer;
}

.not-selectable {
    user-select: none;
}

.selectable {
    user-select: auto;
}