@inherits AppComponentBase;

<div class="dvider-thin divider-vertical divider-dashed"></div>

<!--<hr class="divider" />
<hr class="divider" />

<hr class="divider">
<hr class="divider">
<hr class="divider">-->
