@import "../../Styles/abstracts/_variables.scss";
@import "../../Styles/abstracts/_functions.scss";

.fx-link {
    color: $green-dark-base;
    text-decoration: none;
    font-family: $open-sans-semi-bold;
    font-size: $font-size-12;
    line-height: $line-height-16;
    letter-spacing: $letter-spacing-02;

    &:hover {
        color: $green-dark-hover;
    }

    &:active {
        color: $green-dark-pressed;
    }
}

.fx-link-large {
    font-family: $open-sans-regular;
    font-size: $font-size-14;
}

.fx-link-left {
    padding-left: $spacing-16;
    background-image: url($left-arrow);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 6.06px 11.97px;

    &:hover {
        background-image: url($left-arrow-hover);
    }

    &:active {
        background-image: url($left-arrow-pressed);
    }
}

.fx-link-right {
    padding-right: $spacing-16;
    background-image: url($right-arrow);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 6.06px 11.97px;

    &:hover {
        background-image: url($right-arrow-hover);
    }

    &:active {
        background-image: url($right-arrow-pressed);
    }
}

.fx-link-disabled,
.fx-link-disabled:hover,
.fx-link-disabled:active {
    color: color(input-disable);
    pointer-events: none;
}

.fx-link-disabled-left {
    color: color(input-disable);
    pointer-events: none;
    background-image: url($left-arrow-disabled);
}

.fx-link-disabled-right {
    color: color(input-disable);
    pointer-events: none;
    background-image: url($right-arrow-disabled);
}


