@import "../../Styles/abstracts/_variables.scss";
@import "../../Styles/abstracts/_functions.scss";

.input-box {
    background-color: color(gray-content2);
    background-repeat: no-repeat;
    background-position: center left 22.69px;
    background-size: $icon-16;
    height: 40px;
    padding: $spacing-8 $spacing-12 $spacing-8 $spacing-48;
    border-radius: 5px;
    border: none;
    outline-color: color(gray-content2);
    caret-color: $blue-crayola;
    line-height: $line-height-24;
    font-family: $open-sans-regular;
    font-size: $font-size-14;
    font-style: normal;
    color: color(gray-bg-primary);
}

.input-box::placeholder {
    color: color(gray-bg-primary);
}

.search-icon-light {
    background-image: url(/images/icons/search-icon-light.svg);
}

search-icon-dark {
    background-image: url(/images/icons/search-icon-dark.svg);
}

.search-icon-active {
    background-image: url(/images/icons/search-icon-active.svg);
}

.search-icon-disable {
    background-image: url(/images/icons/search-icon-disable.svg);
}

input-parial-disable {
    color: $gray-dark-border;
} 



