@inherits AppComponentBase;
<div class="input-box">

    <label class="label-input">@Localizer[nameof(AppStrings.InputLabel)]</label>
    <div class="field-question-input">@Localizer[nameof(AppStrings.FieldQuestionInput)]</div>
    <input placeholder="@Localizer[nameof(AppStrings.PlaceHolderFilledTextInput)]" type="text" class="text-input" />
    <div class="error-message">@Localizer[nameof(AppStrings.ErrorMessage)]</div>
</div>
