@inherits AppComponentBase;

<label class="input-label">@Localizer[nameof(AppStrings.InputLabel)]</label>
<input placeholder="@Localizer[nameof(AppStrings.PlaceHolderFilledTextInput)]" type="text" class="input-text" />