@import "../../Styles/abstracts/_variables.scss";
@import "../../Styles/abstracts/_functions.scss";

.label-text-area {
    color: color(gray-content1);
    font-family: $open-sans-regular;
    font-style: normal;
    font-size: $font-size-14;
    line-height: $line-height-24;
    letter-spacing: $letter-spacing-02;
    display: block;
}

.text-area-input {
    height: 191px;
    color: color(gray-content1);
    background-color: inherit;
    font-family: $open-sans-regular;
    font-style: normal;
    font-size: $font-size-14;
    line-height: $line-height-24;
    letter-spacing: $letter-spacing-02;
    outline: none;
    border: solid $border-size-1;
    border-color: color(gray-border);
    border-radius: $border-size-4;
    padding: 14px $spacing-21;
    margin: $spacing-8 $letter-spacing-0;
    resize: none;

    &::placeholder {
        color: color(gray-content1)
    }

}

.text-area-active {
    color: color(gray-content3);
    background-color: color(gray-bg-primary);
    border-color: $green-light-pressed;

    &::placeholder {
        color: color(gray-content3)
    }
}

.text-area-disable {
    background-color: color(gray-bg-primary);
    border-color: color(gray-border);
    color: color(input-disable);

    &::placeholder {
        color: color(input-disable);
    }
}

.text-area-error {
    border-color: color(error);
    background-color: inherit;

    &::placeholder {
        color: color(gray-content3);
    }
}

.error-message {
    color: color(error);
    font-family: $open-sans-regular;
    font-style: normal;
    font-size: $font-size-12;
    line-height: $line-height-16;
    letter-spacing: $letter-spacing-02;
    padding-left: $spacing-16;
    background-image: url($error-message);
    background-size: $icon-12;
    background-position: center left;
    background-repeat: no-repeat;
}