@import "../../Styles/abstracts/_variables.scss";
@import "../../Styles/abstracts/_functions.scss";

.fx-taost {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    background-color: $main-dark;
    border: 1px solid color(gray-bg-secondary);
    border-radius: $border-radius-4;
    padding: $spacing-16 $spacing-18;
    width: 100%;

    .toast-icon {
        background-image: url(/images/succes-icon.svg);
    }

    .toast-message-container {
        margin: 0px $spacing-18;

        .taost-message-title {
            font-family: $open-sans-semi-bold;
            font-size: $font-size-14;
            line-height: $line-height-24;
            letter-spacing: $letter-spacing-02;
            color: $success-light;
        }

        .taost-message-desc {
            font-family: $open-sans-semi-bold;
            font-size: $font-size-12;
            line-height: $line-height-16;
            letter-spacing: $letter-spacing-02;
            color: #E9ECEF;
        }
    }
}