@inherits AppComponentBase;

<div class="fx-taost success-message">
    <div class="toast-container">
        <div class="toast-icon"></div>
        <div class="toast-messages">
            <div class="taost-message-title">@Localizer[nameof(AppStrings.ToastErrorMessage)]</div>
            <div class="taost-message-desc">@Localizer[nameof(AppStrings.ToastDescMessage)]</div>
        </div>
    </div>
    <div class="close-icon"></div>
</div>