@inherits AppComponentBase;

<div class="@(IsOpen ? "open-toast" : "close-toast") fx-taost  @(string.Format(" {0}-message", ToastType).ToLower())">
    <div class="toast-container">
        <div class="toast-icon"></div>
        <div class="toast-messages">
            <div class="taost-message-title">@Title</div>
            <div class="taost-message-desc">@Description</div>
        </div>
    </div>
    <div class="close-icon" @onclick="(()=>Close())"></div>
</div>