@inherits AppComponentBase;

<div class="fx-taost">
    <div class="icons-action toast-icon"></div>
    <div class="toast-message-container">
        <div class="taost-message-title">Your success message</div>
        <div class="taost-message-desc">DID has been copied to clipboard</div>
    </div>
    <div class="icons-action close-icon"></div>
</div>