@import '../../Styles/abstracts/_mixins.scss';
@import '../../Styles/abstracts/_variables.scss';
@import '../../Styles/abstracts/_functions.scss';
@import '../../Styles/components/_bit-accordion.scss';


.file-browser-container {
    height: 100%;
}

.file-browser-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.in-root-scroll-artifact {
    height: calc(100% - 81px);
}

.not-in-root-scroll-artifact {
    height: calc(100% - 165px);
}

.file-browser-container ::deep div.toolbar-box {
    padding-top: $spacing-16;
    padding-bottom: $spacing-16;
    background-color: color(app-bg);
    position: sticky;
    top: 0;
    z-index: 2;
}

.pin-artifacts {
    width: 100%;
}

::deep .bit-acd .content.expanded {
    height: 232px !important;
    overflow: unset !important;

    .items {
        overflow-x: overlay !important;
        margin-bottom: -24px;

        &::-webkit-scrollbar {
            height: 6px;
        }
    }
}

.root-title {
    font-family: $montserrat-semi-bold;
    font-size: $font-size-18;
    line-height: $line-height-24;
    color: color(gray-content1);
    padding: $spacing-16 $spacing-21;
    background-color: color(app-bg);
    z-index: 2;
    opacity: 1;
    height: 56px;
}

.hide-root-title {
   display:none;
   opacity: 0;
   height: 0;
}

.show-root-title {
    opacity: 1;
    height: 56px;
    transition: opacity 300ms linear  50ms;
}

.disable-pinned {
    color: color(input-disable);
    font-family: $montserrat-semi-bold;
    font-size: $font-size-18;
    line-height: $line-height-24;
    padding: $spacing-0 $spacing-21;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: $spacing-4;
    padding: $spacing-16 $spacing-21;
    margin-bottom: $spacing-16;

    &::before {
        @include Icon($chevron-right, color(input-disable));
    }
}

::deep .bit-acd .content {
    position: relative;
}

.action-bar-box {
    position: relative;
    width: 100%;
}

.action-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
    padding: 0 $spacing-21;
    background-color: color(gray-bg-primary);
    position: sticky;
    top: 128px;
    z-index: 2;

    .specter {
        color: color(gray-border);
        margin-bottom: $spacing-2;
    }

    .left-actions {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        .selected-sort {
            font-family: $open-sans-regular;
            font-style: normal;
            font-weight: 400;
            font-size: $font-size-14;
            line-height: $line-height-24;
            letter-spacing: $letter-spacing-02;
            margin-right: $spacing-8;
            color: color(gray-content3);
            cursor: pointer;

            .sort-type {
                color: $green-dark-base;
            }
        }

        .sort-order {
            cursor: pointer;
            margin: $spacing-2 $spacing-8 $spacing-0;

            &::before {
                font-size: $icon-20;
                @include Icon($arrow-up);
            }
        }

        .desc-order {
            transform: rotate(180deg);

            &::before {
                @include Icon($arrow-up);
            }
        }

        .asc-order::before {
            @include Icon($arrow-up);
        }
    }

    .right-actions {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        .action-btn {
            cursor: pointer;
        }

        .select-all-btn {
            margin: $spacing-0 $spacing-8;

            &::before {
                @include Icon($select, color(gray-content3));
                font-size: $icon-24;
            }
        }

        .select-all-filled::before {
            font-size: $icon-24;
            @include Icon($selected, $green-dark-base);
        }

        .list-view-btn {
            margin-right: $spacing-8;

            &::before {
                font-size: $icon-24;
                @include Icon($list, color(gray-content3));
            }
        }

        .list-view-selected::before {
            font-size: $icon-24;
            @include Icon($list, $green-dark-base);
        }

        .grid-view-btn {
            margin: $spacing-0 $spacing-8;

            &::before {
                font-size: $icon-24;
                @include Icon($grid, color(gray-content3));
            }
        }

        .grid-view-selected::before {
            font-size: $icon-24;
            @include Icon($grid, $green-dark-base);
        }

        .filter {
            position: relative;

            .filter-btn {
                position: relative;
                z-index: 1;
                background-color: var(--gray-bg-primary);
                margin-left: $spacing-8;

                &:before {
                    font-size: $icon-24;
                    @include Icon($filter, color(gray-content3));
                }
            }

            .filter-btn:hover {

                &:before {
                    transition: color 200ms linear;
                    color: $green-dark-base;
                }
            }

            .filter-btn-selected {
                position: absolute;
                top: 0;
                margin-left: 8px;

                &::before {
                    font-size: $icon-24;
                    @include Icon($fill);
                    color: $green-dark-base;
                    transition: all 200ms linear;
                }
            }

            .show-fliter-btn {
                z-index: 2;
                transition: all 200ms linear;
            }

            .hide-filter-btn {
                z-index: 0;
                transition: all 200ms linear;
            }
        }
    }
}

.action-bar-search {
    top: 72px;
}

.select-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $green-dark-base;
    padding: 0px $spacing-31 0px $spacing-21;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    transition: opacity 300ms linear;
    height: 0px;
    overflow: hidden;
    opacity: 0;

    .info-selection {
        display: flex;
        align-items: center;

        .close-btn {
            cursor: pointer;

            &::before {
                font-size: 16px;
                @include Icon($close, $pure-white);
            }
        }

        .item-selected {
            margin-left: $spacing-6;

            .move-selected-items-text,
            .item-selected-count,
            .item-selected-text {
                font-size: $font-size-14;
                line-height: $line-height-24;
                font-family: $open-sans-regular;
                letter-spacing: $letter-spacing-02;
                color: $pure-white;
            }
        }
    }

    .right-part {
        display: flex;
        align-items: center;
        justify-content: center;

        .move-icon::before {
            cursor: pointer;
            font-size: 24px;
            @include Icon($move, $pure-white);
        }

        .vertical-option-icon::before {
            cursor: pointer;
            font-size: 20px;
            @include Icon($options-vertical, $pure-white);
            margin-left: $spacing-16;
        }

        .add-folder::before {
            display: none;
            cursor: pointer;
            font-size: 24px;
            @include Icon($create-folder, $pure-white);
        }
    }
}

.show-selected-item {
    opacity: 1;
    height: 40px;
}

.hide-selected-item {
    transition: opacity 300ms linear, height 0ms linear 300ms;
    opacity: 0;
    height: 0;
}

.select-action-search {
    top: 72px;
}

.sticky-content {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: color(app-bg);
    z-index: 2;
    padding-top: 32px;
}


//deep search style
.opacity-0 {
    opacity: 0;
}

.opacity-1 {
    opacity: 1;
}

.search-mode {
    height: calc(100% - 70px);
    opacity: 1;
    transition: height 0ms linear, opacity 300ms linear;
}

.browsing-mode {
    height: 0;
    opacity: 0;
    transition: opacity 300ms linear, height 0ms linear 400ms;
    z-index: -1 !important;
}

.search-container {
    position: absolute;
    top: 70px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    background-color: color(app-bg);
    max-width: 600px;
    margin: 0 auto;

    ::deep .list-container {
        overflow: auto;
    }
}

.filter-deep-search {
    padding: $spacing-0 $spacing-21;
    width: 100%;
}

.show-expander-divider {
    border-bottom: 1px solid var(--gray-bg-secondary);
}

.filter-content {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-bottom: 16px;
    cursor: pointer;

    .filter-text {
        font-family: $open-sans-regular;
        font-size: $font-size-16;
        line-height: $line-height-28;
        letter-spacing: $letter-spacing-02;
        color: color(gray-content1);
    }

    .chaveron-up-icon {
        display: block;

        &:before {
            @include Icon($chevron-up, color(gray-content1));
            font-size: $icon-24;
        }
    }

    .chaveron-down-icon {
        display: block;

        &:before {
            @include Icon($chevron-down, color(gray-content1));
            font-size: $icon-24;
        }
    }
}

.filters-options {
    height: 188px;
    border-bottom: 1px solid color(gray-bg-secondary);


    div[class$="title"] {
        font-family: $open-sans-regular;
        font-size: $font-size-14;
        line-height: $line-height-24;
        letter-spacing: $letter-spacing-02;
        color: color(gray-content3);
        margin-bottom: $spacing-16;
    }

    div[class$="options"] {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow: row wrap;

        div {
            background-color: color(gray-bg-secondary);
            height: 26px;
            padding: $spacing-6 $spacing-8;
            border-radius: $border-radius-6;
            font-family: $open-sans-regular;
            font-size: $font-size-10;
            line-height: $line-height-14;
            letter-spacing: $letter-spacing-02;
            color: color(gray-content1);
            cursor: pointer;
            margin-right: 8px;
        }

        .option-selected-mode {
            transition: all 200ms linear;
            background-color: $primary-color;
            color: $pure-white;
        }
    }
}

.show-option {
    transition: all 300ms linear 100ms, opacity 200ms linear;
    padding: $spacing-16 $spacing-0 $spacing-24;
    opacity: 1;

}

.hide-option {
    height: 0;
    overflow: hidden;
    transition: all 300ms linear 100ms, opacity 200ms linear;
    padding: 0;
    border: none;
    opacity: 0;
}

.time-options-container {
    margin-bottom: $spacing-16;
}

.footer-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $spacing-10 $spacing-21;
    border-top: 1px solid color(gray-bg-secondary);
    position: fixed;
    bottom: 0;
    max-width: 600px;
    width: 100%;
    background-color: color(app-bg);

    & div {
        cursor: pointer;
    }

    .option-item {
        width: 70px;
        height: 46px;
        text-align: center;
        white-space: nowrap;
    }

    .title-item {
        color: color(gray-content1);
        font-size: $font-size-12;
        font-family: $open-sans-regular;
        line-height: $line-height-16;
        letter-spacing: $letter-spacing-02;
    }

    .detail-icon {
        text-align: center;

        &::before {
            font-size: 24px;
            @include Icon($detail);
        }
    }

    .show-location-icon {
        text-align: center;
        margin-left: 23.5px;

        &::before {
            font-size: 24px;
            @include Icon($folder, $color: color(gray-content1));
        }
    }

    .copy-btn-icon {


        &::before {
            font-size: 24px;
            @include Icon($copy);
        }
    }

    .pin-icon::before {
        font-size: 24px;
        @include Icon($pin-outline);
    }

    .unpin-icon::before {
        font-size: 24px;
        @include Icon($pin);
    }

    .more-option-icon::before {
        @include Icon($options-horizontal);
        font-size: 24px;
    }
}

.local-search {
    width: 100%;
}

.show-search {
    opacity: 1;
    height: 40px;
    transition: opacity 300ms linear 100ms,height 200ms linear;
}

.hide-search {
    transition: opacity 300ms linear 100ms, height 200ms linear;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.pin-artifacts-hide {
   display: none
}

.pin-artifacts-show {
    display: block;
}

.progress-bar-wrapper {
    padding-top: $spacing-8;
}
