@import '../../Styles/abstracts/_mixins.scss';
@import '../../Styles/abstracts/_variables.scss';
@import '../../Styles/abstracts/_functions.scss';
@import '../../Styles/components/_bit-accordion.scss';

.file-browser-container {
    min-height: calc(100vh - 81px);
    display: flex;
    flex-flow: column nowrap;
}

.file-browser-container ::deep div.toolbar-box {
    padding-top: $spacing-16;
    padding-bottom: $spacing-16;
    background-color: color(app-bg);
    position: sticky;
    top: 0;
    z-index: 2;
}

.root-title {
    font-family: $montserrat-semi-bold;
    font-size: $font-size-18;
    line-height: $line-height-24;
    color: color(gray-content1);
    padding: $spacing-16 $spacing-21;
    background-color: color(app-bg);
    position: sticky;
    top: 72px;
    z-index: 2;
}

.disable-pinned {
    color: color(input-disable);
    font-family: $montserrat-semi-bold;
    font-size: $font-size-18;
    line-height: $line-height-24;
    padding: $spacing-0 $spacing-21;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: $spacing-4;
    padding: $spacing-16 $spacing-21;
    margin-bottom: $spacing-16;

    &::before {
        @include Icon($chevron-right, color(input-disable) );
    }
}



.action-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 $spacing-21;
    background-color: color(gray-bg-primary);
    position: sticky;
    top: 128px;
    z-index: 2;

    .left-actions {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        .selected-sort {
            font-family: $open-sans-regular;
            font-style: normal;
            font-weight: 400;
            font-size: $font-size-14;
            line-height: $line-height-24;
            letter-spacing: $letter-spacing-02;
            margin-right: $spacing-4;
            color: color(gray-content1);
            cursor: pointer;
        }

        .sort-order {
            cursor: pointer;

            &::before {
                font-size: $icon-16;
                @include Icon($chevron-up);
            }
        }

        .desc-order {
            transform: rotate(180deg);

            &::before {
                @include Icon($chevron-up);
            }
        }

        .asc-order::before {
            @include Icon($chevron-up);
        }
    }

    .right-actions {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        .action-btn {
            cursor: pointer;
        }

        .select-all-btn {
            margin-right: $spacing-8;

            &::before {
                @include Icon($select, color(gray-content3));
                font-size: 24px;
            }
        }

        .select-all-filled::before {
            font-size: 24px;
            @include Icon($selected, $green-dark-base, $Icons-Filled);
        }

        .list-view-btn {
            margin-right: $spacing-8;

            &::before {
                font-size: 24px;
                @include Icon($list, color(gray-content3));
            }
        }

        .list-view-selected::before {
            font-size: 24px;
            @include Icon($list, $green-dark-base);
        }

        .grid-view-btn {
            margin-right: $spacing-8;

            &::before {
                font-size: 24px;
                @include Icon($grid, color(gray-content3));
            }
        }

        .grid-view-selected::before {
            font-size: 24px;
            @include Icon($grid, $green-dark-base);
        }

        .filter-btn::before {
            font-size: 24px;
            @include Icon($filter, color(gray-content3));
        }

        .filter-btn-selected::before {
            font-size: 24px;
            @include Icon($fill, $green-dark-base, $Icons-Filled);
        }
    }
}

.action-bar-search {
    top: 72px;
}

.select-action {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    background-color: $green-dark-base;
    padding: 0px $spacing-31 0px $spacing-21;
    position: sticky;
    top: 128px;
    z-index: 2;

    .info-selection {
        display: flex;
        align-items: center;

        .close-btn {
            cursor: pointer;

            &::before {
                font-size: 16px;
                @include Icon($close, $pure-white);
            }
        }

        .item-selected {
            margin-left: $spacing-6;

            .move-selected-items-text,
            .item-selected-count,
            .item-selected-text {
                font-size: $font-size-14;
                line-height: $line-height-24;
                font-family: $open-sans-regular;
                letter-spacing: $letter-spacing-02;
                color: $pure-white;
            }
        }
    }

    .right-part {
        display: flex;
        align-items: center;
        justify-content: center;

        .move-icon::before {
            cursor: pointer;
            font-size: 24px;
            @include Icon($move, $pure-white);
        }

        .vertical-option-icon::before {
            cursor: pointer;
            font-size: 20px;
            @include Icon($options-vertical, $pure-white);
            margin-left: $spacing-16;
        }

        .add-folder::before {
            display: none;
            cursor: pointer;
            font-size: 24px;
            @include Icon($create-folder, $pure-white);
        }
    }
}

.select-action-search {
    top: 72px;
}

.sticky-content {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: color(app-bg);
    z-index: 2;
    padding-top: 32px;
}


//deep search style
.filter-deep-search {
    padding: $spacing-0 $spacing-21;
}

.expanded {

    .filter-content {
        .chaveron-up-icon {
            display: block;
        }

        .chaveron-down-icon {
            display: none;
        }
    }

    .filters-options {
        display: block;
    }
}

.filter-content {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: $spacing-16;
    cursor: pointer;

    .filter-text {
        font-family: $open-sans-regular;
        font-size: $font-size-16;
        line-height: $line-height-28;
        letter-spacing: $letter-spacing-02;
        color: color(gray-content1);
    }

    .chaveron-up-icon {
        display: none;

        &:before {
            @include Icon($chevron-up, color(gray-content1));
            font-size: $icon-24;
        }
    }

    .chaveron-down-icon {
        display: block;

        &:before {
            @include Icon($chevron-down, color(gray-content1));
            font-size: $icon-24;
        }
    }
}

.filters-options {
    padding: $spacing-16 $spacing-0 $spacing-24;
    display: none;

    div[class$="title"] {
        font-family: $open-sans-regular;
        font-size: $font-size-14;
        line-height: $line-height-24;
        letter-spacing: $letter-spacing-02;
        color: color(gray-content3);
        margin-bottom: $spacing-16;
    }

    div[class$="options"] {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow: row wrap;
        gap: $spacing-8;

        div {
            background-color: color(gray-bg-secondary);
            height: 26px;
            padding: $spacing-6 $spacing-8;
            border-radius: $border-radius-6;
            font-family: $open-sans-regular;
            font-size: $font-size-10;
            line-height: $line-height-14;
            letter-spacing: $letter-spacing-02;
            color: color(gray-content1);
            cursor: pointer;
        }

        .option-selected-mode {
            background-color: $primary-color;
            color: $pure-white;
        }
    }
}

.time-options-container {
    margin-bottom: $spacing-16;
}

.footer-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $spacing-10 $spacing-21;
    border-top: 1px solid color(gray-bg-secondary);

    .option-item {
        min-width: 70px;
        height: 46px;
        text-align: center;
    }

    .detail-icon {
        text-align: center;

        &::before {
            font-size: 24px;
            @include Icon($detail);
        }
    }

    .show-location-icon {
        text-align: center;

        &::before {
            font-size: 24px;
            @include Icon($folder,$color:color(gray-content1));
        }
    }

    .show-location-text {
        white-space: nowrap;
    }

    .copy-btn {


        ::deep &::before {
            font-size: 24px;
            @include Icon($copy);
        }
    }

    .pin-icon::before {
        font-size: 24px;
        @include Icon($pin-outline);
    }

    .more-option-icon::before {
        @include Icon($options-horizontal);
        font-size: 24px;
    }
}