@import '../../Styles/abstracts/_mixins.scss';
@import '../../Styles/abstracts/_variables.scss';
@import '../../Styles/abstracts/_functions.scss';
@import '../../Styles/components/_bit-accordion.scss';

.file-browser-container {
    min-height: calc(100vh - 81px);
    display: flex;
    flex-flow: column nowrap;
}

.file-browser-container ::deep div.toolbar-box {
    padding-top: $spacing-16;
    padding-bottom: $spacing-16;
    background-color: color(app-bg);
    position: sticky;
    top: 0;
    z-index: 2;
}

.root-title {
    font-family: $montserrat-semi-bold;
    font-size: $font-size-18;
    line-height: $line-height-24;
    color: color(gray-content1);
    padding: $spacing-16 $spacing-21;
    background-color: color(app-bg);
    position: sticky;
    top: 72px;
    z-index: 2;
}

.disable-pinned {
    color: color(input-disable);
    font-family: $montserrat-semi-bold;
    font-size: $font-size-18;
    line-height: $line-height-24;
    padding: $spacing-0 $spacing-21;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: $spacing-4;
    padding: $spacing-16 $spacing-21;
    margin-bottom: $spacing-16;

    &::before {
        @include Icon($chevron-right, color(input-disable) );
    }
}



.action-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 $spacing-21;
    background-color: color(gray-bg-primary);
    position: sticky;
    top: 128px;
    z-index: 2;

    .specter {
        color: color(gray-border);
    }

    .left-actions {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        .selected-sort {
            font-family: $open-sans-regular;
            font-style: normal;
            font-weight: 400;
            font-size: $font-size-14;
            line-height: $line-height-24;
            letter-spacing: $letter-spacing-02;
            margin-right: $spacing-8;
            color: color(gray-content3);
            cursor: pointer;

            .sort-type {
                color: $green-dark-base;
            }
        }

        .sort-order {
            cursor: pointer;
            margin: $spacing-2 $spacing-8 $spacing-0;

            &::before {
                font-size: $icon-20;
                @include Icon($arrow-up);
            }
        }

        .desc-order {
            transform: rotate(180deg);

            &::before {
                @include Icon($arrow-up);
            }
        }

        .asc-order::before {
            @include Icon($arrow-up);
        }
    }

    .right-actions {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-start;

        .action-btn {
            cursor: pointer;
        }

        .select-all-btn {
            margin: $spacing-0 $spacing-8;

            &::before {
                @include Icon($select, color(gray-content3));
                font-size: $icon-24;
            }
        }

        .select-all-filled::before {
            font-size: $icon-24;
            @include Icon($selected, $green-dark-base, $Icons-Filled);
        }

        .list-view-btn {
            margin-right: $spacing-8;

            &::before {
                font-size: $icon-24;
                @include Icon($list, color(gray-content3));
            }
        }

        .list-view-selected::before {
            font-size: $icon-24;
            @include Icon($list, $green-dark-base);
        }

        .grid-view-btn {
            margin: $spacing-0 $spacing-8;

            &::before {
                font-size: $icon-24;
                @include Icon($grid, color(gray-content3));
            }
        }

        .grid-view-selected::before {
            font-size: $icon-24;
            @include Icon($grid, $green-dark-base);
        }

        .filter-btn {
            margin-left: $spacing-8;

            &:before {
                font-size: $icon-24;
                @include Icon($filter, color(gray-content3));
            }
        }

        .filter-btn-selected::before {
            font-size: $icon-24;
            @include Icon($fill, $green-dark-base, $Icons-Filled);
        }
    }
}
.action-bar-search {
    top: 72px;
}

.select-action {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    background-color: $green-dark-base;
    padding: 0px $spacing-31 0px $spacing-21;
    position: sticky;
    top: 128px;
    z-index: 2;

    .info-selection {
        display: flex;
        align-items: center;

        .close-btn {
            cursor: pointer;

            &::before {
                font-size: 16px;
                @include Icon($close, $pure-white);
            }
        }

        .item-selected {
            margin-left: $spacing-6;

            .move-selected-items-text,
            .item-selected-count,
            .item-selected-text {
                font-size: $font-size-14;
                line-height: $line-height-24;
                font-family: $open-sans-regular;
                letter-spacing: $letter-spacing-02;
                color: $pure-white;
            }
        }
    }

    .right-part {
        display: flex;
        align-items: center;
        justify-content: center;

        .move-icon::before {
            cursor: pointer;
            font-size: 24px;
            @include Icon($move, $pure-white);
        }

        .vertical-option-icon::before {
            cursor: pointer;
            font-size: 20px;
            @include Icon($options-vertical, $pure-white);
            margin-left: $spacing-16;
        }

        .add-folder::before {
            display: none;
            cursor: pointer;
            font-size: 24px;
            @include Icon($create-folder, $pure-white);
        }
    }
}

.select-action-search {
    top: 72px;
}
.sticky-content {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: color(app-bg);
    z-index: 2;
    padding-top: 32px;
}