@page "/onboarding/successful-login"
@namespace Functionland.FxFiles.Client.Shared.Pages
@inherits AppComponentBase;

<section class="successful-login">
    <div class="login-messages-container">
        <div class="welcome-text">WELCOME</div>
        <div class="login-message">Your Login was successful To Fula</div>
        <div class="login-subtext">Your data will be backedup in following:</div>
    </div>
</section>