@page "/onboarding/successful-login"
@namespace Functionland.FxFiles.Client.Shared.Pages
@inherits AppComponentBase;
@layout OnboardingMainLayout;

<section class="successful-login">
    <div class="login-messages-container">
        <div class="welcome-text">WELCOME</div>
        <div class="login-message">Your Login was successful To Fula</div>
        <div class="login-subtext">Your data will be backedup in following:</div>
    </div>

    <div class="file-items-container">
        <FxDivider FxDividerSize="FxDividerSize.Thin"
                   FxDividerMode="FxDividerMode.Solid"
                   FxDividerType="FxDividerType.Horizontal" />
        <div class="file-item">
            <div class="file-name">Home Blox Setup</div>
            <div class="file-last-modified">| Modified 09/30/22</div>
        </div>
        <FxDivider FxDividerSize="FxDividerSize.Thin"
                   FxDividerMode="FxDividerMode.Solid"
                   FxDividerType="FxDividerType.Horizontal" />
        <div class="file-item">
            <div class="file-name">Office Blox Unit</div>
            <div class="file-last-modified">| Modified 09/30/22</div>
        </div>
        <FxDivider FxDividerSize="FxDividerSize.Thin"
                   FxDividerMode="FxDividerMode.Solid"
                   FxDividerType="FxDividerType.Horizontal" />
        <div class="file-item">
            <div class="file-name">Aaron’s Blox System</div>
            <div class="file-last-modified">| Modified 09/30/22</div>
        </div>
        <FxDivider FxDividerSize="FxDividerSize.Thin"
                   FxDividerMode="FxDividerMode.Solid"
                   FxDividerType="FxDividerType.Horizontal" />
    </div>
</section>