@import '../Styles/abstracts/_variables.scss';
@import '../Styles/abstracts/_functions.scss';

.content {
    overflow: hidden;
    position: relative;
    padding-bottom: 60px;
    color: color(gray-content1);
    min-height: calc(100vh - 80px);
    background-color: color(app-bg);
}