@import '../../../Styles/abstracts/_variables.scss';
@import '../../../Styles/abstracts/_functions.scss';
@import '../../../Styles/components/_bit-toggle.scss';
@import '../../../Styles/components/_bit-checkbox.scss';
@import '../../../Styles/components/_bit-radriobutton.scss';

.fxtoolbar-wrapper {
    padding-top: $spacing-16;
    padding-left: $spacing-21;
}

.theme-mode {
    padding: $spacing-16 $spacing-21;
}

.mode-content {
    font-family: $montserrat-semi-bold;
    font-size: $font-size-18;
    line-height: $line-height-24;
    color: color(gray-content1);
    margin-bottom: $spacing-34;
}

.select-theme-mode {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    gap: $spacing-24;
    cursor: pointer;
    margin-bottom: $spacing-48;

    .mode-img {
        width: 154.5px;
        height: 96px;

        background: {
            repeat: no-repeat;
            size: 154.5px 96px;
            position: center;
        }

        margin-bottom: $spacing-16;
    }

    .light-mode-img {
        background-image: url('images/settings/light-mode.svg');
    }

    .dark-mode-img {
        background-image: url('images/settings/dark-mode.svg');
    }

    .mode-content {
        font-family: $open-sans-regular;
        font-size: $font-size-14;
        line-height: $line-height-24;
        letter-spacing: $letter-spacing-02;
        padding: 0 $spacing-28;
        color: color(gray-content1);
    }
}

.system-theme-setting {
    display: flex;
    cursor: pointer;
    align-items: center;

    .system-theme-info {
        margin-left: $spacing-8;
        font-family: $open-sans-regular;
        letter-spacing: $letter-spacing-02;

        .system-theme-option {
            font-size: $font-size-14;
            line-height: $line-height-24;
            color: color(gray-content1);

            .system-mode,
            .mode-text {
                text-transform: lowercase;
            }
        }

        .system-theme-desc {
            font-size: $font-size-12;
            line-height: $line-height-16;
            color: color(gray-content2);
        }
    }
}

//create custom radio button
.container {
    display: block;
    position: relative;
    padding-left: 22px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom radio */
.checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: color(app-bg);
    border-radius: 50%;
    border: $border-size-1 solid gray;
}

/* When the radio is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: $green-dark-base;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 30%;
    top: 30%;
    width: 8px;
    height: 8px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: $pure-white;
}