@import '../../../Styles/abstracts/_variables.scss';
@import '../../../Styles/abstracts/_functions.scss';
@import '../../../Styles/components/_bit-toggle.scss';
@import '../../../Styles/components/_bit-checkbox.scss';

.theme-mode {
    padding: $spacing-16 $spacing-21;

}

.mode-content {
    font-family: $montserrat-semi-bold;
    font-size: $font-size-18;
    line-height: $line-height-24;
    color: color(gray-content1);
    margin-bottom: $spacing-34;
}

.select-theme-mode {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    gap: $spacing-24;
    margin-bottom: $spacing-48;

    .mode-img {
        width: 154.5px;
        height: 96px;
        background: {
            repeat: no-repeat;
            size: 154.5px 96px;
            position: center;
        }

        margin-bottom: $spacing-16;
    }

    .light-mode-img {
        background-image: url('images/settings/light-mode.svg');
    }

    .dark-mode-img {
        background-image: url('images/settings/dark-mode.svg');
    }

    .mode-content {
        font-family: $open-sans-regular;
        font-size: $font-size-14;
        line-height: $line-height-24;
        letter-spacing: $letter-spacing-02;
        color: color(gray-content1);
    }
}

.system-theme-setting {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .system-theme-info {
        margin-right: $spacing-16;
        font-family: $open-sans-regular;
        letter-spacing: $letter-spacing-02;

        .system-theme-option {
            font-size: $font-size-14;
            line-height: $line-height-24;
            color: color(gray-content1);
        }

        .system-theme-desc {
            font-size: $font-size-12;
            line-height: $line-height-16;
            color: color(gray-content2);
        }
    }
}


.theme-options {
    gap: 10px;
    display: grid;
    padding: 21px;
}