@namespace Functionland.FxFiles.Client.Shared.Components.Modal
@inherits AppComponentBase;

<div class="toast-modal">
    <FxToast Title="@_title" Description="@_message" ToastType="@_toastType" IsOpen="_isModalOpen" IsOpenChanged="Close">

    </FxToast>

</div>