@import '../../../Styles/abstracts/_mixins.scss';
@import '../../../Styles/abstracts/_variables.scss';
@import '../../../Styles/abstracts/_functions.scss';

.select-action {
    display: flex;
    height: 56px;
    align-items: center;
    justify-content: space-between;
    background-color: $green-dark-base;
    padding: $spacing-8 $spacing-21;
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    bottom: 150px;

    .info-selection {
        flex-direction: column;
        display: flex;
        align-items: start;

        .close-btn {
            cursor: pointer;
            width: $icon-16;
            height: $icon-16;
            background-size: $icon-16;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(images/icons/white-close-btn.svg);
        }

        .item-selected {
            margin-left: $spacing-6;

            .move-selected-items-text,
            .item-selected-count,
            .item-selected-text {
                font-size: $font-size-14;
                line-height: $line-height-24;
                font-family: $open-sans-regular;
                letter-spacing: $letter-spacing-02;
                color: $pure-white;
            }
        }
    }

    .right-part {
        display: flex;
        align-items: center;
        justify-content: center;

        .icons-action {
            width: 20.04px;
            cursor: pointer;
            height: 18.19px;
            background-size: $icon-24;
            background-repeat: no-repeat;
            background-position: center;
        }

        .move-icon {
            background-image: url(images/icons/white-move.svg);
        }

        .vertical-option-icon {
            background-image: url(images/icons/white-option-vertical.svg);
            background-size: $icon-4;
            margin-left: $spacing-16;
        }

        .add-folder {
            background-image: url(images/icons/white-create-folder.svg);
        }
    }
}

.modal-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 38px $letter-spacing-0 $spacing-16;

    .slider-btn {
        color: color(input-disable);
        font-family: $open-sans-semi-bold;
        font-style: normal;
        font-size: $font-size-12;
        line-height: $line-height-16;
        letter-spacing: $letter-spacing-02;
    }

    .slider-selected {
        color: $green-dark-base;
    }

    .number-slider {
        background-color: color(gray-bg-secondary);
        color: color(gray-content1);
        font-family: $open-sans-regular;
        font-style: normal;
        font-size: $font-size-10;
        line-height: $line-height-14;
        letter-spacing: $letter-spacing-02;
        padding: $spacing-6 $spacing-8;
        border-radius: $border-radius-6;
        margin: $spacing-0 $spacing-8;
    }
}
